﻿@model List<WebCompany.Business.Models.BlogViewModel>
@{
    var blogList = Model;
    int i = 0;
    int b = 0;
}
<div class="container">
    <!-- tab -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        @foreach (var item in blogList)
        {
         <li class="nav-item">
             <a href="#@item.ContentId" class="@(i==0?"nav-link active":"nav-link")" data-toggle="tab">@item.Title</a>
         </li>
            i++;
        }

        
    </ul>

    <div class="tab-content">
        @foreach (var blog in blogList)
        {
            <div class="@(b==0?"tab-pane fade active show": "tab-pane fade")" id="@blog.ContentId">
                <div class="d-flex flex-column flex-lg-row">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-src="/content/img/b/desktop/@blog.Path?v=@DateTime.Now.ToString("dd-MM-yyyy")"
                         class="img-fluid lazyload rounded align-self-start mr-lg-5 mb-5 mb-lg-0"
                         alt="@blog.Title" />
                    <div>

                        <h5>@blog.Title</h5> 
                        <p>
                            @Html.Raw(blog.ShortDetail)
                        </p>
                        <p>
                            @Html.Raw(blog.Detail)
                        </p>
                    </div>
                </div>
            </div>
            b++;
        }
      
        
    </div>
    <!-- tab -->
</div>