﻿@model WebCompany.UI.Models.SiteModel
@{
    var setting = Model.SettingModel;
}
<ul class="headline">
    
    <li class="headline__item">
        <a href="#" class="headline__icon icon-bubble"></a>
        <h6 class="headline__title">@setting.HeadLine</h6>
        <p class="headline__text">@setting.HeadLineText</p>
    </li>
     
    <li class="headline__item ">
        <a href="#" class="headline__icon icon-home"></a>
        <h6 class="headline__title">@setting.HeadLine2</h6>
        <p class="headline__text">@setting.HeadLineText2</p>
    </li>
    <li class="headline__item">
        <a href="#" class="headline__icon icon-bullhorn"></a>
        <h6 class="headline__title">@setting.HeadLine3</h6>
        <p class="headline__text">@setting.HeadLineText3</p>
    </li>
    <li class="headline__item">
        <a href="#" class="headline__icon icon-bubble"></a>
        <h6 class="headline__title">@setting.HeadLine4</h6>
        <p class="headline__text">@setting.HeadLineText4</p>
    </li>
   
</ul>

<div class="footer-about">
    <div class="container">
        <div class="footer-about__left">
            <h6 class="footer-about__title">@setting.Footer</h6>
            <p class="footer-about__text">@setting.FooterText</p>
        </div>
        <div class="footer-about__right">
            <h6 class="footer-about__title">@setting.Footer2</h6>
            <p class="footer-about__text">@setting.FooterText2</p>
        </div> 
        <div class="social">
            <a href="http://www.skycutfolyokesim.com/blogs/1" title="Folyo kesim blog">blog</a>
            <ul class="social__items">
                <li class="social__item"><a href="@setting.Facebook" class="social__link social__link--facebook" title="facebook"></a></li>
                <li class="social__item"><a href="@setting.Twitter" class="social__link social__link--twitter" title="twitter"></a></li>
                <li class="social__item"><a href="@setting.Instagram" class="social__link social__link--intagram" title="intagram"></a></li>
                <li class="social__item"><a href="@setting.Google" class="social__link social__link--google" title="google"></a></li>
            </ul>
        </div>
        <!--<div class="footer-about__more-wrap">
            <a href="#" class="footer-about__more-link" title="But the problem doesn't end there..">But the problem doesn't end there..</a>
        </div>-->
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; @setting.Title @setting.CopyRight - @DateTime.Now.Year.ToString()</p>
    </div>
    <!-- /.container -->
</footer>
@Html.Raw(setting.GoogleAnaltiycs) 

