﻿@model List<WebCompany.Business.Models.GalleryViewModel>
 
<div class="img-galery">
    <div class="container img-galery__inner">
        <div class="img-galery__left">
            <div class="img-galery__left-inner left-0 text-center bg-faded p-5 rounded">
                <h2 class="img-galery__heading mb-4">
                    <span class="img-galery__heading-upper">Bazı Ürünlerimize</span>
                    <span class="img-galery__heading-lower">Ait Resimler</span>
                </h2>
                <p class="mb-3">
                   Burada firmamızla ilgili ürün görsellerini yada firma görsellerini bulabilirsiniz. Size daha hizmet verebilmek için
                   Görsellerimizden bizi takip edebilirsiniz.
                </p>
                <div class="img-galery__btn-wrapper">
                    <a href="/galeri" class="img-galery__btn btn btn-primary btn-xl">Galeriye Git</a>
                </div>
            </div>
        </div>
        <div class="img-galery__right">
            <h2 class="main-title main-title--white">Bazı Ürünlerimiz</h2>
            <ul class="img-galery__right-items">
                @foreach (var item in Model)
                {
                    <li class="img-galery__right-item">
                        <a href="/content/img/g/desktop/@item.Path" class="img-galery__right-item-link lightbox-link"  alt="@item.Title" data-toggle="lightbox" data-gallery="lightbox-img-galery">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                  data-src="/content/img/g/mobile/@item.Path?v=@DateTime.Now.ToString("dd-MM-yyyy")"
                                 class="img-galery__right-item-img lazyload img-fluid rounded"
                                 alt="@item.Title" />
                        </a>
                    </li>
                }
                
               
            </ul>
        </div>
    </div>
</div>