﻿@{
 
    var setting = Model.SettingModel;
 }
 

<nav class="nav navbar fixed-top navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="@WebCompany.Core.UrlService.SiteUrl" title="@(setting.Title)"><img src="@($"/content/img/desktop/{setting.Logo}?v={DateTime.Now.ToString("dd-MM-yyyy")}")" alt="@setting.Title"/></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">  
                @Html.Raw(ViewBag.Tree)
                <li class="search nav-item">
                    <form class="search__form form-inline" method="get" action="/arama">
                        <input class="search__input form-control" type="text" name="q"  placeholder="Ürün Ara...">
                        <button class="search__btn btn" type="submit"></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>