﻿@model WebCompany.UI.Models.SiteModel
@{
    var setting = Model.SettingModel;
}
@if (setting.IsHomeContact)
{
<h1 class="main-title main-title--home-page">@setting.HomeContactTitle</h1>
<div class="company-info">
    <div class="company-info__inner">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             class="company-info__img lazyload"
             data-src="/content/img/desktop/@setting.HomeContactPath?v=@DateTime.Now.ToString("dd-MM-yyyy")"
             width="1110"
             height="180"
             alt="@setting.Title" />
        <p class="company-info__text">
            @setting.HomeContactDetail : <br /><br />
            @setting.HomeContactPhone <br />
            <a href='@setting.HomeContactUrl' class="company-info__btn btn btn-success">İletişim Bilgilerimiz</a>
        </p>
    </div>
</div>
}