﻿@model List<WebCompany.Business.Models.ProductUIViewModel>
@{
    var productList = Model.Skip(0).Take(4);
    var productList2 = Model.Skip(4).Take(4);
}
<div class="container">

    @{ Html.RenderAction("PageContact", "Shared", new { area = "" });}

    <div class="row">

        <div id="carouselTopProduct" class="carousel slide carousel--top-products" data-ride="carousel">
            <ol class="carousel-indicators carousel-indicators--top-products">
                <li data-target="#carouselTopProduct" data-slide-to="0" class="active"></li>
                <li data-target="#carouselTopProduct" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    @if (productList != null)
                    {
                        foreach (var product in productList)
                        {
                            <div class="top-product">
                                <a href="@product.Name" title="@product.Name" class="top-product__img-wrapper">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                         data-src="/content/img/u/desktop/@product.Image?v=@DateTime.Now.ToString("dd-MM-yyyy")"
                                         class="top-product__img lazyload"
                                         width="360"
                                         height="240"
                                         alt="@product.Name" />
                                </a>
                                <a href="@WebCompany.Core.UrlService.WebViewUrl(@product.Name)" title="@product.Name" class="top-product__desc">
                                    <h4 class="top-product__title">@product.Name</h4>
                                    <p class="top-product__text">@product.ShortDetail</p>
                                </a>
                            </div>
                        }
                    }

                </div>
                <div class="carousel-item">
                    @if (productList2 != null)
                    {
                        foreach (var product in productList2)
                        {
                            <div class="top-product">
                                <a href="@product.Name" title="@product.Name" class="top-product__img-wrapper">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                         data-src="/content/img/u/desktop/@product.Image?v=@DateTime.Now.ToString("dd-MM-yyyy")"
                                         class="top-product__img lazyload"
                                         width="360"
                                         height="240"
                                         alt="@product.Name" />
                                </a>
                                <a href="@product.Name" title="@product.Name" class="top-product__desc">
                                    <h4 class="top-product__title">@product.Name</h4>
                                    <p class="top-product__text">@product.ShortDetail</p>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>

</div>