﻿@{
    int i = 0;
    int b = 0;
    var sliderList = Model.SliderListModel;
 } 
@if (Model.SettingModel.IsSliderHomePage || Request.RawUrl.Length<=2)
{
<header>
    <div id="mainCarousel" class="main-carousel carousel slide" data-ride="carousel">
        <!-- indicators -->
        <ol class="carousel-indicators carousel-indicators--main-carousel">
            @foreach (var item in sliderList)
            {
                <li data-target="#mainCarousel" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                i++;
            }
             
        </ol>
        <!-- carousel -->
        <div class="carousel-inner" role="listbox">
            @foreach (var item in sliderList)
            {
                <div class="@(b==0?"carousel-item active":"carousel-item")">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         class="main-carousel__img lazyload"
                         data-src="/content/img/s/desktop/@item.Image?v=@DateTime.Now.ToString("dd-MM-yyyy")"
                         alt="@item.Name">
                    @*<div class="carousel-caption">
                        <h3>@item.Title</h3>
                        <p>@item.ShortDetail</p>
                    </div>*@
                </div>
                b++;
            }
            <!-- next-prev -->
            <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Geri</span>
            </a>
            <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">İleri</span>
            </a>
        </div>
        </div>
</header> 

}