﻿@{
    ViewBag.Title = "_Layout.cshtml";
}

<!DOCTYPE html>
<html class="no-js">

<head>
    <title>Yönetim Paneli</title>
    <!-- Bootstrap -->
    <link href="/areas/admin/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/areas/admin/content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/areas/admin/content/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
    <link href="/areas/admin/content/assets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/areas/admin/content/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body id="login">



    <div class="container">

        @RenderBody()

    </div>

</body>



<link href="/areas/admin/content/vendors/datepicker.css" rel="stylesheet" media="screen">
<link href="/areas/admin/content/vendors/uniform.default.css" rel="stylesheet" media="screen">
<link href="/areas/admin/content/vendors/chosen.min.css" rel="stylesheet" media="screen">

<link href="/areas/admin/content/vendors/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">

<script src="/areas/admin/content/vendors/jquery-1.9.1.js"></script>
<script src="/areas/admin/content/bootstrap/js/bootstrap.min.js"></script>
<script src="/areas/admin/content/vendors/jquery.uniform.min.js"></script>
<script src="/areas/admin/content/vendors/chosen.jquery.min.js"></script>
<script src="/areas/admin/content/vendors/bootstrap-datepicker.js"></script>
<script src="/areas/admin/content/vendors/wysiwyg/bootstrap-wysihtml5.js"></script>
<script src="/areas/admin/content/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

<script type="text/javascript" src="/areas/admin/content/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/areas/admin/content/assets/form-validation.js"></script>



<script src="/areas/admin/content/vendors/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>

<script src="/areas/admin/content/vendors/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js"></script>

<script src="/areas/admin/content/vendors/ckeditor/ckeditor.js"></script>
<script src="/areas/admin/content/vendors/ckeditor/adapters/jquery.js"></script>

<script src="/areas/admin/content/assets/scripts.js"></script>
</html>