﻿@{
    ViewBag.Title = "_Layout.cshtml";
}
 
@if (Request?.Cookies["UserLogin"]?["IsVisit"]==null || Request.Cookies["UserLogin"]["IsVisit"]!="true")
{
    Response.Redirect("/Admin/Login/");
}
<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <title>Yönetim Paneli</title>
        <!-- Bootstrap -->
        <link href="/areas/admin/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/areas/admin/content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/areas/admin/content/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
        <link href="/areas/admin/content/assets/styles.css" rel="stylesheet" media="screen">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="/areas/admin/content/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Yönetim Paneli</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                @if (@Request.Cookies["UserLogin"] != null)
                                {
                                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i>@Request.Cookies["UserLogin"]["Email"] Hoşgeldiniz <i class="caret"></i></a>
                                }
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="#">Profile</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="/Admin/Login/Logout">Logout </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("menu")?"active":"")">
                            <a href="/Admin/menu/List"><i class="icon-chevron-right"></i>Menü</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("sitetool")?"active":"")">
                            <a href="/Admin/sitetool"><i class="icon-chevron-right"></i>Genel Ayarlar</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("gallery")?"active":"")">
                            <a href="/Admin/gallery/List"><i class="icon-chevron-right"></i>Galeri</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("blog")?"active":"")">
                            <a href="/Admin/blog/List"><i class="icon-chevron-right"></i>Blog</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("video")?"active":"")">
                            <a href="/Admin/video/List"><i class="icon-chevron-right"></i>Videolar</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("document")?"active":"")">
                            <a href="/Admin/document/List"><i class="icon-chevron-right"></i>Belgeler</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("message")?"active":"")">
                            <a href="/Admin/message/List"><i class="icon-chevron-right"></i>Mesajlar</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("category")?"active":"")">
                            <a href="/Admin/category/List"><i class="icon-chevron-right"></i>Kategori</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("product")?"active":"")">
                            <a href="/Admin/product/List"><i class="icon-chevron-right"></i>Ürünler</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("page")?"active":"")">
                            <a href="/Admin/page/List"><i class="icon-chevron-right"></i>Sayfalar</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("slider")?"active":"")">
                            <a href="/Admin/slider/List"><i class="icon-chevron-right"></i>Slider</a>
                        </li>
                        <li class="@(Request.RawUrl.ToString()!=null && @Request.RawUrl.ToString().ToLower().Contains("urls")?"active":"")">
                            <a href="/Admin/urls/List"><i class="icon-chevron-right"></i>Url Listesi</a>
                        </li>
                    </ul>
                </div>

                <div class="span9" id="content">

                    <div class="row-fluid">
                        @RenderBody()
                    </div>

                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; mswebtasarim</p>
            </footer>
        </div>
        <!--/.fluid-container-->
        <link href="/areas/admin/content/vendors/datepicker.css" rel="stylesheet" media="screen">
        <link href="/areas/admin/content/vendors/uniform.default.css" rel="stylesheet" media="screen">
        <link href="/areas/admin/content/vendors/chosen.min.css" rel="stylesheet" media="screen">

        <link href="/areas/admin/content/vendors/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">

        <script src="/areas/admin/content/vendors/jquery-1.9.1.js"></script>
        <script src="/areas/admin/content/bootstrap/js/bootstrap.min.js"></script>
        <script src="/areas/admin/content/vendors/jquery.uniform.min.js"></script>
        <script src="/areas/admin/content/vendors/chosen.jquery.min.js"></script>
        <script src="/areas/admin/content/vendors/bootstrap-datepicker.js"></script>
        <script src="/areas/admin/content/vendors/wysiwyg/bootstrap-wysihtml5.js"></script>
        <script src="/areas/admin/content/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

        <script type="text/javascript" src="/areas/admin/content/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/areas/admin/content/assets/form-validation.js"></script>



        <script src="/areas/admin/content/vendors/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>

        <script src="/areas/admin/content/vendors/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js"></script>

        <script src="/areas/admin/content/vendors/ckeditor/ckeditor.js"></script>
        <script src="/areas/admin/content/vendors/ckeditor/adapters/jquery.js"></script>

        <script src="/areas/admin/content/assets/scripts.js"></script>


        <script>

            jQuery(document).ready(function () {
                FormValidation.init();
            });


            $(function () {
                $(".datepicker").datepicker();
                $(".uniform_on").uniform();
                $(".chzn-select").chosen();
                $('.textarea').wysihtml5();

                $('#rootwizard').bootstrapWizard({
                    onTabShow: function (tab, navigation, index) {
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#rootwizard').find('.bar').css({ width: $percent + '%' });
                        // If it's the last tab then hide the last button and show the finish instead
                        if ($current >= $total) {
                            $('#rootwizard').find('.pager .next').hide();
                            $('#rootwizard').find('.pager .finish').show();
                            $('#rootwizard').find('.pager .finish').removeClass('disabled');
                        } else {
                            $('#rootwizard').find('.pager .next').show();
                            $('#rootwizard').find('.pager .finish').hide();
                        }
                    }
                });
                $('#rootwizard .finish').click(function () {
                    alert('Finished!, Starting over!');
                    $('#rootwizard').find("a[href*='tab1']").trigger('click');
                });


                $('textarea#ckeditor_full').ckeditor({ width: '98%', height: '150px' });

            });



        </script>
     
        <script>
            
            $(document).ready(function () {
                $('#myTab a').on('click', function (e) {
                    e.preventDefault()
                    $(this).tab('show');
                    $('.tab-content').show()
                })
                $('#myTabSetting a').on('click', function (e) {
                    e.preventDefault()
                    $(this).tab('show');
                    $('.tab-content').show()
                })
                $('ul.tabs setting li').click(function () {
                    var tab_id = $(this).attr('data-tab');

                    $('ul.tabs setting li').removeClass('current');
                    $('.tab-content setting').removeClass('current');

                    $(this).addClass('current');
                    $("#" + tab_id).addClass('current');
                })

                $('ul.tabs li').click(function () {
                    var tab_id = $(this).attr('data-tab');

                    $('ul.tabs li').removeClass('current');
                    $('.tab-content').removeClass('current');

                    $(this).addClass('current');
                    $("#" + tab_id).addClass('current');
                })

            })
        </script>
        <script>
            $(document).ready(function () {
                var menuId = $('#MenuTypeId');
                var menuCode2 = $(this).find(':selected').data('menu');
                if (menuCode2 == "product") {
                    $('#category').css('display', 'block');
                }

                menuId.on('change', function () {
                    var menuCode = $(this).find(':selected').data('menu');
                    var menucontroller = $(this).find(':selected').data('menucontroller');
                    $('#pageMenu').css('display', 'none');
                    $('#category').css('display', 'none');
                    $('#url').css('display', 'none');
                    alert(menuCode);
                    if (menuCode == "url") {
                        $('#url').css('display', 'block');
                    }
                    else if (menuCode == "page") {
                        var contentId = $('#ContentId').val();
                        alert(contentId)
                        $('#pageMenu').css('display', 'block');
                        var urladress = $('#Name').val().toLowerCase().replace("ı", "i");
                        urladress = urladress.replace("ç", "c");
                        urladress = urladress.replace("ş", "s");
                        urladress = urladress.replace("ğ", "g");
                        urladress = urladress.replace("ü", "u");
                        urladress = urladress.replace("ö", "o");
                        $('#Url').val(urladress);
                    }
                    else {
                        var urladress = $('#Name').val().toLowerCase().replace("ı", "i");
                        urladress = urladress.replace("ç", "c");
                        urladress = urladress.replace("ş", "s");
                        urladress = urladress.replace("ğ", "g");
                        urladress = urladress.replace("ü", "u");
                        urladress = urladress.replace("ö", "o");
                        $('#url').css('display', 'block');
                        $('#Url').val(urladress);
                    }
                });
            });
        </script>

        <style>


            .container {
                margin: 0 auto; 
            }


            ul.nav.nav-tabs {
                background-color: #d9edf7; 
            }
            ul.tabs {
                margin: 0px;
                padding: 0px;
                list-style: none;
            }

                ul.tabs li {
                    background: #303136;
                    color: #222;
                    display: inline-block;
                    padding: 10px 15px;
                    cursor: pointer;
                }

                    ul.tabs li.current {
                        background: #303136;
                        color: #222;
                    }

            .tab-content {
                display: none;
            }

                .tab-content.current {
                    display: inherit;
                }
        </style>
    </body>

</html>