﻿@model WebCompany.UI.Models.SiteModel
@{var blog = Model.BlogModel;}
@section metatags
{
    @Html.Partial("Partials/MetaTitle", Model)
}
<div class="container">
    <h1 class="main-title">@(blog?.Title)</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@WebCompany.Core.UrlExtensions.SiteUrl">Anasayfa</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@WebCompany.Core.UrlExtensions.SiteUrl/blogs/1">Blog</a>
        </li>
        <li class="breadcrumb-item active"><span><strong>@(blog?.Title)</strong></span></li>
    </ol>
    <div class="blog">
        <div class="blog__left">
            <ul class="blog__hit">
                <li class="blog__hit-item"><h2 class="blog__hit-title"><strong>Öne Çıkanlar</strong></h2></li>
                
                @if (Model.BlogModelList!=null && Model.BlogModelList.Any())
                {
                    foreach (var blogs in Model.BlogModelList.OrderByDescending(x => x.PageView).Take(10))
                    {
                        <li class="blog__hit-item"><h3><a href="@WebCompany.Core.UrlService.WebViewUrl(@blogs.Url)" class="blog__hit-link" title="@blogs.Title"><strong>@blogs.Title</strong></a></h3></li>
                    }
                }


            </ul>
        </div>
        <div class="blog__right">  
                <div class="blog__item">
                    <div class="blog__img-wrapper">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-src=""
                             class="blog__img lazyload"
                             width="300"
                             height="250"
                             alt="@(blog?.Title)" />
                    </div>
                    <div class="blog__desc"> 
                        <h4 class="blog__title"><strong><a href="@WebCompany.Core.UrlService.WebViewUrl(@blog?.Url)" title="@blog?.Title">@(blog?.Title)</a></strong></h4>
                        <p>
                            @Html.Raw(blog?.Detail)
                        </p>
                    </div>
                </div>
 
        </div>

        
        <!-- /.pagination -->
    </div>
    <!-- /.blog -->
</div>