﻿@model WebCompany.UI.Models.SiteModel
@{
    var blogHitList = Model?.BlogModelList?.OrderByDescending(x => x.PageView);
    var blogList = Model?.BlogModelList?.Skip((Model.Page - 1) * Model.PageSize)?.Take(Model.PageSize)?.ToList();
    var url = @WebCompany.Core.UrlService.WebViewUrl("blogs");
}
@section metatags
{
    @Html.Partial("Partials/MetaTitle", Model.SeoTag)
}
<div class="container">
    <h1 class="main-title">BLOG</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@WebCompany.Core.UrlExtensions.SiteUrl">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active"><span><strong>Blog</strong></span></li>
    </ol>
    <div class="blog">
        <div class="blog__left">
            <ul class="blog__hit">
                <li class="blog__hit-item"><h2 class="blog__hit-title"><strong>Öne Çıkanlar</strong></h2></li>
                @if (blogHitList != null && blogHitList.Any())
                {
                    foreach (var blog in blogHitList)
                    {
                        <li class="blog__hit-item"><h3><a href="@WebCompany.Core.UrlService.WebViewUrl(blog.Url)" class="blog__hit-link" title="@blog.Title"><strong>@blog.Title</strong></a></h3></li>
                    }
                }
            </ul>
        </div>
        <div class="blog__right">
            @if (blogList != null && blogList.Any())
            {
                foreach (var blog in blogList)
                {
                    <div class="blog__item">
                        <div class="blog__img-wrapper">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.BlogViewPath, "desktop", blog.Path)"
                                 class="blog__img lazyload"
                                 width="300"
                                 height="250"
                                 alt="@blog.Title" />
                        </div>
                        <div class="blog__desc">
                            <h4 class="blog__title"><strong><a href="@WebCompany.Core.UrlService.WebViewUrl(blog?.Url)" title="@blog.Title">@(blog?.Title)</a></strong></h4>
                            <p>
                                @Html.Raw(blog?.Detail)
                            </p>
                        </div>
                    </div>

                }
            }
        </div>

        <div class="pagination-wrapper">
            <ul class="pagination pagination-sm">
                <li class="page-item @(Model.Page==1?"disabled":"")"><a class="page-link" href="@($"{url}/{Model.Page-1}")">Geri</a></li>
                @for (int i = 1; i <= Model.Pages; i++)
                {
                    <li class="page-item @(Model.Page==i?"active":"")"><a class="page-link" href="@($"{url}/{i}")">@i</a></li>
                }
                <li class="page-item @(Model.Pages==Model.Page?"disabled":"")"><a class="page-link" href="@($"{url}/{Model.Page+1}")">İleri</a></li>
            </ul>
        </div>

        <!-- /.pagination -->
    </div>
    <!-- /.blog -->
</div>