﻿@model WebCompany.UI.Models.SiteModel

@{
    ViewBag.Title = "Sayfa";
}


@using (Html.BeginForm("Save", "Page", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
<fieldset>
    <div class="control-group">

        @if (Model.PageModel == null || Model.PageModel.Id == null)
        {
            @Html.HiddenFor(m => m.PageModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })
        }
        else
        {
            @Html.HiddenFor(m => m.PageModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly" })
        }
    </div>

    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageModel.Title)</label>
        <div class="controls">@Html.TextBoxFor(m => m.PageModel.Title, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageModel.ShortDetail)</label>
        <div class="controls">
            @Html.TextAreaFor(m => m.PageModel.ShortDetail, new { @class = "input-xlarge focused", @cols = 80, @rows = 10, @placeholder = "Kısa Acıklama..." })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageModel.Detail)</label>
        <div class="controls">@Html.TextAreaFor(m => m.PageModel.Detail, new { @id = "ckeditor_full", @style = "width: 810px; height: 200px", @placeholder = "Detay..." })  </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="focusedInput">Fotoğraf boyutu</label>
        <div class="controls" style="font-weight:bolder;">En az @WebCompany.Core.UrlExtensions.PageImageWidth.Split(',').LastOrDefault() px genişlik</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageContent.ContentText)</label>

        <div class="controls">
            @Html.TextBoxFor(m => Model.PageModel.FileUpload, new { type = "file" })
            @Html.HiddenFor(m=> m.PageModel.Image)
        </div>
        <br />
        <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.PageViewPath,"mobile",Model.PageModel.Image)" width="110px" height="52px" /></div>
    </div>

    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageModel.Actived)</label>
        <div class="controls">@Html.CheckBox("PageModel.Actived") </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageModel.IsHomePage)</label>
        <div class="controls">@Html.CheckBox("PageModel.IsHomePage") </div>
    </div>
    <h3>Seo giriş</h3>
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageModel.MetaTitle)</label>
        <div class="controls">@Html.TextBoxFor(m => m.PageModel.MetaTitle, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Başlık..." })  </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageModel.MetaDescription)</label>
        <div class="controls">@Html.TextBoxFor(m => m.PageModel.MetaDescription, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Açıklama..." })  </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageModel.MetaKeywords)</label>
        <div class="controls">@Html.TextBoxFor(m => m.PageModel.MetaKeywords, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Anahtar Kelime, araba, araç, buran..." })  </div>
    </div>

    @Html.HiddenFor(m => m.PageModel.ContentId, new { Value = Model.PageModel.ContentId })
    @Html.HiddenFor(m => m.PageModel.LanguageId)
    @Html.HiddenFor(m => m.PageModel.Url)
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <button type="reset" class="btn">Vazgeç</button>
    </div>
</fieldset>
}


@if (Model.PageContentList != null && Model.PageContentList.Any(f=> f.LanguageId == Model.PageModel.LanguageId))
{
    using (Html.BeginForm("PageAllContentSave", "Page", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {

        <div class="block-content collapse in">
            <div class="span12">
                @Html.ValidationSummary()
                <fieldset>


                    @{int count = Model.PageContentList.Count;}
                    @*@foreach (var item in Model.PageContentList.OrderBy(x => x.Id))*@
                    @for (int i = 0; i < Model.PageContentList.Where(f => f.LanguageId == Model.PageModel.LanguageId).ToList().Count; i++)
                    {
                        --count;

                        @Html.HiddenFor(m => Model.PageContentList[count].PageContentId, new { Value = Model.PageModel.Id })
                        if (Model.PageContentList[count].Id == null)
                        {
                            <div class="controls">@Html.HiddenFor(m => Model.PageContentList[count].Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })</div>
                        }
                        else
                        {
                            <div class="controls">@Html.HiddenFor(m => Model.PageContentList[count].Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = Model.PageContentList[count].Id })</div>
                        }

                        <div class="control-group" style="float:right">
                            <a href="/admin/page/contentDelete/@Model.PageContentList[count].Id" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">İçeriği Sil</span>
                            </a>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageContent.ContentTitle)</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => @Model.PageContentList[count].ContentTitle, new { Value = Model.PageContentList[count].ContentTitle })
                            </div>
                        </div>

                        if (Model.PageContentList[count].ContentType == 1)
                        {


                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageContent.ContentText)</label>
                                <div class="controls">@Html.TextAreaFor(m => Model.PageContentList[count].ContentText, new { @id = "ckeditor_full", @style = "width: 810px; height: 200px", @placeholder = "Detay..." })  </div>
                                @Html.HiddenFor(m => Model.PageContentList[count].ContentDetail, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "" })

                            </div>

                        }
                        else
                        {
                            <div class="controls">

                                @Html.TextBoxFor(m => Model.PageContentList[count].FileUpload, new { type = "file" })
                                @Html.HiddenFor(m => Model.PageContentList[count].ContentText, new { Value = Model.PageContentList[count].ContentText })<br />
                                <img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.PageViewPath,"mobile",Model.PageContentList[count].ContentText)" />

                            </div>
                            <div class="control-group">

                                <div class="controls">@Html.TextAreaFor(m => Model.PageContentList[count].ContentDetail, new { @id = "ckeditor_full", @style = "width: 810px; height: 200px", @placeholder = "Detay..." })  </div>

                            </div>
                        }

                        @Html.HiddenFor(m => Model.PageContentList[count].LanguageId, new { @value = Model.PageModel.LanguageId })
                        @Html.HiddenFor(m => Model.PageContentList[count].ContentType, new { @value = 1 })

                        @Html.HiddenFor(m => Model.PageContentList[count].ContentId, new { Value = Model.PageContentList[count].ContentId })

                        <hr />
                    }
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                        <button type="reset" class="btn">Vazgeç</button>
                    </div>
                </fieldset>

            </div>
        </div>

    }
}



<h3>Yazı Ekle</h3>
<div class="block-content collapse in">
    <div class="span12">
        @using (Html.BeginForm("PageContentSave", "Page", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary()
        <fieldset>


            @if (Model.PageContent == null || Model.PageContent.Id == null)
            {
                <div class="controls">@Html.HiddenFor(m => m.PageContent.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })</div>
            }
            else
            {
                <div class="controls">@Html.HiddenFor(m => m.PageContent.Id, new { @class = "input-xlarge focused", @readonly = "readonly" })</div>
            }


            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageContent.ContentTitle)</label>
                <div class="controls">@Html.TextBoxFor(m => m.PageContent.ContentTitle, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageContent.ContentText)</label>
                <div class="controls">@Html.TextAreaFor(m => m.PageContent.ContentText, new { @id = "ckeditor_full", @style = "width: 810px; height: 200px", @placeholder = "Detay..." })  </div>
            </div>

            @Html.HiddenFor(m => Model.PageContent.PageContentId, new { Value = Model.PageModel.Id })
            @Html.HiddenFor(m => Model.PageContent.LanguageId, new { Value = Model.PageModel.LanguageId })
            @Html.HiddenFor(m => m.PageContent.ContentType, new { Value = 1 })
            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageContent.Actived)</label>
                <div class="controls">@Html.CheckBox("PageContent.Actived") </div>
            </div>
            @Html.HiddenFor(m => m.PageContent.ContentId, new { Value = Model.PageModel.ContentId })

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <button type="reset" class="btn">Vazgeç</button>
            </div>
        </fieldset>
        }

    </div>
</div>


<h3>Fotoğraf Ekle</h3>
<div class="block-content collapse in">
    <div class="span12">
        @using (Html.BeginForm("PageContentSave", "Page", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary()
        <fieldset>

            @if (Model.PageContent == null || Model.PageContent.Id == null)
            {
                <div class="controls">@Html.HiddenFor(m => m.PageContent.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })</div>
            }
            else
            {
                <div class="controls">@Html.HiddenFor(m => m.PageContent.Id, new { @class = "input-xlarge focused", @readonly = "readonly" })</div>
            }


            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageContent.ContentTitle)</label>
                <div class="controls">@Html.TextBoxFor(m => m.PageContent.ContentTitle, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="focusedInput">Fotoğraf boyutu</label>
                <div class="controls" style="font-weight:bolder;">En az @WebCompany.Core.UrlExtensions.PageImageWidth.Split(',').LastOrDefault() px genişlik</div>
            </div>

            @Html.HiddenFor(m => m.PageContent.ContentType, new { Value = 2 })
            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageContent.ContentText)</label>
                <div class="controls">
                    @Html.HiddenFor(m => Model.PageContent.PageContentId, new { Value = Model.PageModel.Id })
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => Model.PageContent.FileUpload, new { type = "file" })
                </div>
                <br />

            </div>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageContent.ContentText)</label>
                <div class="controls">@Html.TextAreaFor(m => m.PageContent.ContentText, new { @id = "ckeditor_full", @style = "width: 810px; height: 200px", @placeholder = "Detay..." })  </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.PageContent.Actived)</label>
                <div class="controls">@Html.CheckBox("PageContent.Actived") </div>
            </div>
            @Html.HiddenFor(m => m.PageContent.ContentId, new { Value = Model.PageModel.ContentId })
            @Html.HiddenFor(m => m.PageContent.LanguageId, new { Value = Model.PageModel.LanguageId })

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <button type="reset" class="btn">Vazgeç</button>
            </div>
        </fieldset>
        }

    </div>
</div>





