/*  TABS
----------------------*/
.tab-content {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #FFF;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
  padding: 3rem;
  margin-bottom: 3rem;
}
@media (max-width: 992px) {
  .tab-content {
    padding: 1.5rem;
  }
}
.tab-content p {
  line-height: 1.8;
}
.tab-content h2 {
  margin-bottom: 0.5rem;
}
.nav-tabs {
  border-bottom: 0;
  background: none;
}
.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  padding: 1rem 1rem;
  border-color: #faf6fb #faf6fb #FFF;
  font-size: 19px;
  color: #666666 !important;
  background: #f5eff7;
}
.nav-tabs .nav-link.active {
  background: #FFF;
  border-top-width: 3px;
  border-color: #83d468 #faf6fb #ffffff;
  color: #633991;
}
/*
	//headline
*/
.headline {
  *zoom: 1;
  margin: 0 !important;
  padding-bottom: 30px;
}
.headline:before,
.headline:after {
  display: table;
  content: "";
}
.headline:after {
  clear: both;
}
@media (min-width: 768px) {
  .headline {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.headline .row {
  margin-left: -15px;
  margin-right: -15px;
}
.headline__item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@media (min-width: 1200px) {
  .headline__item {
    float: left;
    width: 25%;
  }
}
.headline__item:last-child {
  border: none;
}
.headline__icon {
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  display: block;
  background-color: #b9e6aa;
  font-size: 3rem;
  width: 75px;
  height: 75px;
  margin: auto;
  margin-bottom: 10px;
}
.headline__icon:before {
  vertical-align: middle;
  font-size: 1.75rem;
  color: white;
}
.headline__icon:hover {
  -webkit-animation-name: change-icon-bg;
  -moz-animation-name: change-icon-bg;
  -o-animation-name: change-icon-bg;
  animation-name: change-icon-bg;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
.headline__icon:hover lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes change-icon-bg{ 0%{ background-color: #EDF2F0; } 10%{ background-color: #FFF }}
@-moz-keyframes change-icon-bg{ 0%{ background-color: #EDF2F0; } 10%{ background-color: #FFF }}
@-o-keyframes change-icon-bg{ 0%{ background-color: #EDF2F0; } 10%{ background-color: #FFF }}
@keyframes change-icon-bg{ 0%{ background-color: #EDF2F0; } 10%{ background-color: #FFF }}
[not-existing] {
  zoom: 1;
}
.headline__icon:hover:before {
  color: #666666;
}
.headline__title {
  font-size: 1rem;
  color: #666666;
}
.headline__text {
  font-size: 0.85rem;
}
/*
	img-galery
*/
.img-galery {
  *zoom: 1;
  width: 100%;
  min-height: 450px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}
.img-galery:before,
.img-galery:after {
  display: table;
  content: "";
}
.img-galery:after {
  clear: both;
}
@media (min-width: 768px) {
  .img-galery {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.img-galery .row {
  margin-left: -15px;
  margin-right: -15px;
}
.img-galery__left {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 250px) {
  .img-galery__left {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .img-galery__left {
    float: left;
    width: 50%;
  }
}
@media (max-width: 1199px) {
  .img-galery__left {
    padding-top: 40px;
  }
}
.img-galery__left-inner {
  background: rgba(255, 255, 255, 0.85);
}
@media (min-width: 1199px) {
  .img-galery__left-inner {
    margin-top: 6rem;
  }
}
.img-galery__right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 250px) {
  .img-galery__right {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .img-galery__right {
    float: left;
    width: 50%;
  }
}
@media (max-width: 1199px) {
  .img-galery__right {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.img-galery__right-items {
  *zoom: 1;
}
.img-galery__right-items:before,
.img-galery__right-items:after {
  display: table;
  content: "";
}
.img-galery__right-items:after {
  clear: both;
}
@media (min-width: 768px) {
  .img-galery__right-items {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.img-galery__right-items .row {
  margin-left: -15px;
  margin-right: -15px;
}
.img-galery__right-item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
@media (min-width: 250px) {
  .img-galery__right-item {
    float: left;
    width: 33.33333333%;
  }
}
@media (max-width: 1199px) {
  .img-galery__heading {
    font-size: 1rem;
  }
}
.img-galery__btn-wrapper {
  width: 100%;
  left: 0;
  position: absolute;
  bottom: -2rem;
}
.img-galery__btn {
  background-color: #e6a756;
  border-color: #e6a756;
  font-weight: 700;
  font-size: .8rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
}
.img-galery__btn:hover {
  border-color: #df1661;
  background: #df1661;
}
/*
	//galery-page
*/
.galery-page {
  *zoom: 1;
  padding-bottom: 50px;
}
.galery-page:before,
.galery-page:after {
  display: table;
  content: "";
}
.galery-page:after {
  clear: both;
}
@media (min-width: 768px) {
  .galery-page {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.galery-page .row {
  margin-left: -15px;
  margin-right: -15px;
}
.galery-page__inner {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 250px) {
  .galery-page__inner {
    float: left;
    width: 100%;
  }
}
.galery-page__items {
  *zoom: 1;
}
.galery-page__items:before,
.galery-page__items:after {
  display: table;
  content: "";
}
.galery-page__items:after {
  clear: both;
}
@media (min-width: 768px) {
  .galery-page__items {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.galery-page__items .row {
  margin-left: -15px;
  margin-right: -15px;
}
.galery-page__item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
@media (min-width: 250px) {
  .galery-page__item {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .galery-page__item {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .galery-page__item {
    float: left;
    width: 16.66666667%;
  }
}
/*
	//product-desc
*/
/*
.product-desc {
    .make-row();
    background: @gray-light;
    margin: 50px 0 !important;

    &__left {
        .make-xs-column(6);
        padding: 0 !important;
    }

    &__right {
        .make-xs-column(6);
        padding: 20px !important;
    }

    &__title {
        font-family: Courier New;
        font-size: 1.25rem;
        border-bottom: 1px dotted @red;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    &__text {
        font-family: Courier New;
        font-size: 1rem;
    }
}
*/
/*
	pagination
*/
.pagination-wrapper {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 25px 0;
}
@media (min-width: 250px) {
  .pagination-wrapper {
    float: left;
    width: 100%;
  }
}
.pagination {
  justify-content: center;
}
/*
	//blog
*/
.blog {
  *zoom: 1;
}
.blog:before,
.blog:after {
  display: table;
  content: "";
}
.blog:after {
  clear: both;
}
@media (min-width: 768px) {
  .blog {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.blog .row {
  margin-left: -15px;
  margin-right: -15px;
}
.blog__left {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 250px) {
  .blog__left {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .blog__left {
    float: left;
    width: 25%;
  }
}
.blog__right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 250px) {
  .blog__right {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .blog__right {
    float: left;
    width: 75%;
  }
}
.blog__hit {
  padding-bottom: 25px;
}
.blog__hit-item {
  border-bottom: 1px solid #cccccc;
  padding: 5px;
}
.blog__hit-item:first-child {
  border: none;
}
.blog__hit-title {
  font-size: 1.2rem;
  color: #b1308c;
  padding-left: 16px;
}
.blog__hit-title:before {
  font-family: 'icomoon';
  content: '\e935';
  margin-right: 5px;
  font-size: 0.8rem;
}
.blog__hit-link {
  padding-left: 20px;
}
.blog__hit-link:link,
.blog__hit-link:visited {
  color: #666;
}
.blog__hit-link.active,
.blog__hit-link:hover {
  color: #b1308c;
}
.blog__hit-link:before {
  font-family: 'icomoon';
  content: '\ea1c';
  margin-right: 5px;
  font-size: 0.5rem;
}
.blog__item {
  *zoom: 1;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  padding: 10px 0;
}
.blog__item:before,
.blog__item:after {
  display: table;
  content: "";
}
.blog__item:after {
  clear: both;
}
@media (min-width: 768px) {
  .blog__item {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.blog__item .row {
  margin-left: -15px;
  margin-right: -15px;
}
.blog__img-wrapper {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 250px) {
  .blog__img-wrapper {
    float: left;
    width: 25%;
  }
}
.blog__img {
  width: 100%;
  height: auto;
}
.blog__title {
  font-size: 1.2rem;
  color: #666;
}
.blog__desc {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 250px) {
  .blog__desc {
    float: left;
    width: 75%;
  }
}
/*
	//footer
*/
.footer {
  background-color: #28222b;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*
	//footer-about
*/
.footer-about {
  *zoom: 1;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiKDYwLCA4LCAxMTgpIiBzdG9wLW9wYWNpdHk9IjAuOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiKDI1MCwgMCwgMTE4KSIgc3RvcC1vcGFjaXR5PSIwLjgiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  margin: 0 !important;
  /*&__more-wrap {
        .make-xs-column(12);
        text-align: center;
    }

    &__more-link {

        &:link,
        &:visited {
            color: white;
            text-align: center;
            font-size: 1rem;
            padding: 22px 0;
            display: inline-block;
        }

        &:hover {
            font-size: 1.1rem;
        }

        &:after {
            color: white;
            content: "\ea3c";
            font-family: 'icomoon';
            vertical-align: top;
            padding-left: 20px;
        }
    }*/
}
.footer-about:before,
.footer-about:after {
  display: table;
  content: "";
}
.footer-about:after {
  clear: both;
}
@media (min-width: 768px) {
  .footer-about {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.footer-about .row {
  margin-left: -15px;
  margin-right: -15px;
}
.footer-about__left {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px dotted white;
  padding: 50px;
}
@media (min-width: 250px) {
  .footer-about__left {
    float: left;
    width: 50%;
  }
}
.footer-about__right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 50px;
}
@media (min-width: 250px) {
  .footer-about__right {
    float: left;
    width: 50%;
  }
}
.footer-about__title {
  font-size: 1.25rem;
  text-align: center;
  color: white;
}
.footer-about__title:before {
  font-family: 'icomoon';
  content: '\e946';
  vertical-align: top;
  padding-right: 10px;
}
.footer-about__text {
  font-size: 0.75rem;
  text-align: center;
  color: white;
}
.social {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@media (min-width: 250px) {
  .social {
    float: left;
    width: 100%;
  }
}
.social__items {
  margin: 22px 0 0 0;
}
.social__item {
  display: inline-block;
  padding-left: 10px;
}
.social__link:before {
  font-family: 'icomoon';
  color: white;
  font-size: 1rem;
}
.social__link--facebook:before {
  content: '\ea90';
}
.social__link--twitter:before {
  content: '\ea96';
}
.social__link--intagram:before {
  content: '\ea92';
}
.social__link--google:before {
  content: '\ea8b';
}
/*
	//send-message
*/
.send-message__textarea {
  resize: none;
}
.send-message .form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #b0bfce;
}
.send-message .form-group label {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.send-message .form-group .help-block {
  margin: 15px 0;
  color: #dc3545;
}
.send-message .form-control {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: Lora, 'Times New Roman', serif;
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  background: 0 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.send-message .form-control:hover,
.send-message .form-control:focus {
  background: none;
}
.send-message .form-control::placeholder {
  font-family: Lora, 'Times New Roman', serif;
  color: #868e96;
}
.send-message .btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
}
.send-message .btn-primary {
  background-color: #0085a1;
  border-color: #0085a1;
}
.send-message .btn-primary:hover,
.send-message .btn-primary:active,
.send-message .btn-primary:focus {
  background-color: #0085a1 !important;
  border-color: #0085a1 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/*
	btn-filter
*/
.btn-filter {
  color: #999;
  background: none;
  border-color: #b9adad;
  font-weight: bold;
  font-size: 0.85rem;
  cursor: pointer;
  padding: .375rem 2rem;
}
.btn-filter:active,
.btn-filter:focus,
.btn-filter:hover {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
  border-color: #b9adad !important;
  color: #b9adad !important;
}
/*
	//about
*/
.about-heading {
  *zoom: 1;
  padding-bottom: 50px;
}
.about-heading:before,
.about-heading:after {
  display: table;
  content: "";
}
.about-heading:after {
  clear: both;
}
@media (min-width: 768px) {
  .about-heading {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.about-heading .row {
  margin-left: -15px;
  margin-right: -15px;
}
.about-heading__inner {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 250px) {
  .about-heading__inner {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .about-heading__content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}
/*
	//product-detail
*/
.product-detail {
  *zoom: 1;
}
.product-detail:before,
.product-detail:after {
  display: table;
  content: "";
}
.product-detail:after {
  clear: both;
}
@media (min-width: 768px) {
  .product-detail {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.product-detail .row {
  margin-left: -15px;
  margin-right: -15px;
}
.product-detail__inner {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 250px) {
  .product-detail__inner {
    float: left;
    width: 100%;
  }
}
.product-detail__row {
  *zoom: 1;
  /*
		display: flex;
		align-items: center;
		justify-content: center;
            */
  margin-bottom: 3rem;
  background: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.product-detail__row:before,
.product-detail__row:after {
  display: table;
  content: "";
}
.product-detail__row:after {
  clear: both;
}
@media (min-width: 768px) {
  .product-detail__row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.product-detail__row .row {
  margin-left: -15px;
  margin-right: -15px;
}
.product-detail__left {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}
@media (min-width: 250px) {
  .product-detail__left {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .product-detail__left {
    float: left;
    width: 50%;
  }
}
.product-detail__img-link {
  width: 100%;
}
@media (min-width: 992px) {
  .product-detail__img-link {
    min-height: 587px;
    line-height: 587px;
  }
}
@media (min-width: 992px) {
  .product-detail__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 90%;
  }
}
.product-detail__thumbnail-items {
  *zoom: 1;
}
.product-detail__thumbnail-items:before,
.product-detail__thumbnail-items:after {
  display: table;
  content: "";
}
.product-detail__thumbnail-items:after {
  clear: both;
}
@media (min-width: 768px) {
  .product-detail__thumbnail-items {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.product-detail__thumbnail-items .row {
  margin-left: -15px;
  margin-right: -15px;
}
.product-detail__thumbnail-item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 250px) {
  .product-detail__thumbnail-item {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .product-detail__thumbnail-item {
    float: left;
    width: 25%;
  }
}
.product-detail__thumbnail-link {
  display: inline-block;
  width: 100%;
  min-height: 115px;
  position: relative;
}
.product-detail__thumbnail-img {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid #9a4677;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-height: 90%;
}
.product-detail__right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
@media (min-width: 250px) {
  .product-detail__right {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .product-detail__right {
    float: left;
    width: 50%;
  }
}
.product-detail__description {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
.product-detail__info {
  *zoom: 1;
}
.product-detail__info:before,
.product-detail__info:after {
  display: table;
  content: "";
}
.product-detail__info:after {
  clear: both;
}
@media (min-width: 768px) {
  .product-detail__info {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.product-detail__info .row {
  margin-left: -15px;
  margin-right: -15px;
}
.product-detail__info-left {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 1.5rem;
}
@media (min-width: 250px) {
  .product-detail__info-left {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .product-detail__info-left {
    float: left;
    width: 50%;
  }
}
.product-detail__info-right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 1.5rem;
}
@media (min-width: 250px) {
  .product-detail__info-right {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .product-detail__info-right {
    float: left;
    width: 50%;
  }
}
.product-detail__info-title {
  margin-bottom: 1rem;
}
/*
    bootsrap update
*/
.section-heading {
  font-size: 2rem;
}
.navbar {
  position: absolute;
}
.nav-link:link,
.nav-link:visited,
.nav-link:hover {
  color: white !important;
}
.bg-faded {
  background: rgba(255, 255, 255, 0.85);
}
/*
	//card
*/
/*
.card {

	&:before {
		.lh-border-radius(.5rem);
		content: '';
		position: absolute;
		top: -.5rem;
		bottom: -.5rem;
		left: -.5rem;
		right: -.5rem;
		border: .25rem solid rgba(255,255,255,.85);
	}

}
*/
/*
	//carousel
*/
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4,
.carousel-caption h5,
.carousel-caption h6 {
  color: #fff;
}
.carousel-caption span,
.carousel-caption p {
  color: #fff;
}
.carousel-indicators li {
  cursor: pointer;
}
.carousel-control-prev:link,
.carousel-control-next:link,
.carousel-control-prev:visited,
.carousel-control-next:visited,
.carousel-control-prev:hover,
.carousel-control-next:hover {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  color: inherit;
  background: #9a4677;
  border: 0;
  text-shadow: none;
  z-index: 5;
  color: #fff;
}
@media (max-width: 1199px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
.carousel-control-next:link,
.carousel-control-next:visited,
.carousel-control-next:hover {
  right: 0;
  margin-right: 2.5rem;
}
.carousel-control-prev:link,
.carousel-control-prev:visited,
.carousel-control-prev:hover {
  left: 0;
  margin-left: 2.5rem;
}
/*
	//breadcrumb
*/
.breadcrumb {
  background: none;
}
.breadcrumb-item {
  /*
    &.active {
        font-weight: bold;
    }
	*/
}
.breadcrumb-item a:link,
.breadcrumb-item a:visited,
.breadcrumb-item a:hover {
  color: #868e96;
}
/*
	//dropdown
*/
.dropdown-menu {
  background-color: #fff;
  top: 90%;
  right: -10px !important;
}
.dropdown-menu:before {
  border-bottom: 11px solid #F1EAE0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 12px;
  top: -11px;
}
@media (max-width: 992px) {
  .dropdown-menu:before {
    display: none;
  }
}
.dropdown-item:link,
.dropdown-item:visited {
  color: color-base;
}
.dropdown-item:hover {
  background-color: #d6abc1;
}
.dropdown--filter {
  text-align: right;
}
.dropdown-menu--filter {
  background: #fff;
  border: 1px solid #b9adad;
  min-width: unset;
  right: auto !important;
}
.dropdown-menu--filter:before {
  display: none;
}
.dropdown-item--filter:link,
.dropdown-item--filter:visited {
  color: #666;
  font-size: 0.85rem;
  padding: .15rem 0.65rem;
}
.dropdown-item--filter:hover {
  background: none;
}
/*
	//pagination
*/
.page-item.active .page-link {
  background-color: #df1661;
  border-color: #df1661;
}
.page-item .page-link:focus,
.page-item .page-link:hover {
  background-color: #df1661;
  border-color: #df1661;
  color: #fff;
}
/*
	//lightbox-link
*/
.lightbox-link {
  display: inline-block;
  position: relative;
  border: 0.25rem solid rgba(255, 255, 255, 0.6);
  z-index: 1;
}
.lightbox-link:before {
  opacity: 0;
  font-family: 'icomoon';
  content: '\e987';
  text-align: center;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.lightbox-link:hover:before {
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
