﻿@*@model KurumsalWeb.UI.Areas.Admin.Models.LoginModel*@

@{
    ViewBag.Title = "İçerikler";
}




<div class="span9" id="content">
    <div class="row-fluid">

        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Site Ekle</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    @using (Html.BeginForm("Created", "Home", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal" }))
                    {
                        @*@Html.ValidationSummary()
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.UserName)</label>
    <div class="controls">@Html.TextBoxFor(m => m.UserName, new { @class = "input-xlarge focused", @placeholder = "Kullanıcı Adı..." })  </div> 
                            </div>
                            <div class="control-group">
                                 <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Site)</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Site, new { @class = "input-xlarge focused", @placeholder = "Site Adresi..." }) 
                            </div>
                        </div>
                        <div class="control-group">
                           <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Email)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge focused", @placeholder = "Email Adresi..." })  </div> 
                        </div>
                        <div class="control-group">
                             <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Password)</label>
    <div class="controls">@Html.PasswordFor(m => m.Password, new { @class = "input-xlarge focused", @placeholder = "Şifre..." })  </div> 
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                            <button type="reset" class="btn">Vazgeç</button>
                        </div>
                    </fieldset>*@
                    }

                </div>
            </div>
        </div>
    </div>

</div>
