﻿
@{
    ViewBag.Title = "İçerikler";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <!-- Bootstrap -->
    <link href="/areas/admin/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/areas/admin/content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/areas/admin/content/assets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/areas/adminjs/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body id="login">
    <div class="container">
     
        @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post, new { id = "frmSite", @class = "form-signin", enctype = "multipart/form-data" }))
        {   @Html.ValidationSummary()
                    <h2 class="form-signin-heading">Lütfen Giriş yapın</h2> 
                    <input type="text" class="input-block-level" id="Email"  name="Email" placeholder="Email adres">
                    <input type="password" class="input-block-level" id="Password" name="Password" placeholder="Şifre">
                    <label class="checkbox">
                        <input type="checkbox" id="IsRememberMe" name="IsRememberMe"  value="true"> Beni hatırla
                    </label>
                    <button class="btn btn-large btn-primary" type="submit">Giriş</button>
        }

    </div> <!-- /container -->
    <script src="/areas/admin/content/vendors/jquery-1.9.1.min.js"></script>
    <script src="/areas/admin/content/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>