﻿@model WebCompany.UI.Models.SiteModel
@{
var url = @WebCompany.Core.UrlService.WebViewUrl("arama")+"?q="+Request.QueryString["q"];
}
@section metatags
{
    @Html.Partial("~/Views/Shared/Partials/MetaTitle.cshtml", Model)
}

    <!-- Page Content -->
<div class="container">

    <h1 class="main-title">ARANAN ÜRÜNLER</h1>

    <div class="row">
        <ol class="breadcrumb col-xs-12 col-md-6">
            <li class="breadcrumb-item">
                <a href="@WebCompany.Core.UrlExtensions.SiteUrl">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active"><span><strong>@ViewData["Search"]</strong></span></li>
        </ol>
        @*<div class="dropdown dropdown--filter col-xs-12 col-md-6">
            <button type="button" class="btn btn-primary btn-filter dropdown-toggle" data-toggle="dropdown">
                Filtrele
            </button>
            <div class="dropdown-menu dropdown-menu--filter">
                <a href="#" class="dropdown-item dropdown-item--filter">Ucuzdan Pahalıya</a>
                <a href="#" class="dropdown-item dropdown-item--filter">Pahalıdan Ucuza</a>
                <a href="#" class="dropdown-item dropdown-item--filter">A-Z</a>
                <a href="#" class="dropdown-item dropdown-item--filter">Z-A</a>
            </div>
        </div>*@
    </div>

    <!-- product not found -->

        @if(Model?.ProductListModel==null && !Model.ProductListModel.Any())
        { 
         <p class="info-text">Aradığınız ürün bulunamadı.</p>
        }
        else
        {

    <div class="row">
         
        @foreach (var product in Model?.ProductListModel)
        {
            <div class="col-lg-3 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="@WebCompany.Core.UrlService.WebViewUrl(product.Url)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ProductViewPath, "desktop", product.Image)"
                        class="card-img-top lazyload"
                        alt="@product.Name" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="@WebCompany.Core.UrlService.WebViewUrl(product.Url)">@product.Name</a>
                        </h4>
                        <p class="card-text">@Html.Raw(product.ShortDetail)</p>
                    </div>
                </div>
            </div>
        }
     
        

        <div class="pagination-wrapper">
            <ul class="pagination pagination-sm">
                <li class="page-item @(Model.Page==1?"disabled":"")"><a class="page-link" href="@($"{url}&s={Model.Page-1}")">Geri</a></li>
                @for(int i = 1; i <= Model.Pages; i++)
                {
                    <li class="page-item @(Model.Page==i?"active":"")"><a class="page-link" href="@($"{url}&s={i}")">@i</a></li>
                }
                <li class="page-item @(Model.Pages==Model.Page?"disabled":"")"><a class="page-link" href="@($"{url}&s={Model.Page+1}")">İleri</a></li>
            </ul>
        </div>
        <!-- /.pagination -->
    </div> }
    <!-- /.row -->
</div>

       


   