﻿@model WebCompany.UI.Models.SiteModel

@{
    ViewBag.Title = "İçerikler";
}


 


                                @using (Html.BeginForm("Save", "Category", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal" }))
                                {
                                    @Html.ValidationSummary()
                                <fieldset>

                                    @if (Model == null || Model.CategoryModel.Id == null)
                                    {
                                        <div class="controls">@Html.HiddenFor(m => m.CategoryModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })</div>
                                    }
                                    else
                                    {
                                        <div class="controls">@Html.HiddenFor(m => m.CategoryModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly" })</div>
                                    }

                                    <div class="control-group">
                                        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.CategoryModel.Name)</label>
                                        <div class="controls">@Html.TextBoxFor(m => m.CategoryModel.Name, new { @class = "input-xlarge focused", @placeholder = "Kategori Adı..." })  </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.CategoryModel.Detail)</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.CategoryModel.Detail, new { @class = "input-xlarge focused", @placeholder = "Kategori Detay..." })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(d => d.CategoryModel.LanguageId)
                                    <div class="control-group">
                                        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.CategoryModel.Actived)</label>
                                        <div class="controls">@Html.CheckBox("CategoryModel.Actived") </div>
                                    </div>
                                    <h3>Seo giriş</h3>
                                    <div class="control-group">
                                        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.CategoryModel.MetaTitle)</label>
                                        <div class="controls">@Html.TextBoxFor(m => m.CategoryModel.MetaTitle, new { @class = "input-xlarge focused", @maxlegth = "512", @placeholder = "Seo Başlık..." })  </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.CategoryModel.MetaDescription)</label>
                                        <div class="controls">@Html.TextBoxFor(m => m.CategoryModel.MetaDescription, new { @class = "input-xlarge focused", @maxlegth = "512", @placeholder = "Seo Açıklama..." })  </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.CategoryModel.MetaKeywords)</label>
                                        <div class="controls">@Html.TextBoxFor(m => m.CategoryModel.MetaKeywords, new { @class = "input-xlarge focused", @maxlegth = "512", @placeholder = "Anahtar Kelime, Araç,Ev ..." })  </div>
                                    </div>
                                    @Html.HiddenFor(m => m.CategoryModel.ContentId)
                                    @Html.HiddenFor(m => m.CategoryModel.LanguageId)
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                        <button type="reset" class="btn">Vazgeç</button>
                                    </div>
                                </fieldset>
                                }

                            
