﻿@model WebCompany.UI.Models.SiteModel
@{
    ViewBag.Title = "Kategori Düzelt";
}
<div class="span9" id="content">
    <div class="row-fluid">

        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Kategori Ekle</div>
            </div>


            <div class="block-content collapse in">
                <div class="span12">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        @foreach (var lan in Model.LanguageListModel)
                        {
                            <li class="nav-item @(Model.LanguageListModel.IndexOf(lan)==0?"active":"")">
                                <a class="nav-link active" id="@(lan.Symbol)-tab" data-toggle="tab" href="#@(lan.Symbol)" role="tab" aria-controls="@(lan.Symbol)" aria-selected="true">@(lan.Title)</a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content" style="display:block">
                        @foreach (var _model in Model.LanguageListModel)
                        {
                            {

                                Model.CategoryModel = Model.CategoryListModel.FirstOrDefault(d => d.LanguageId == _model.Id);
                                if (Model.CategoryModel == null)
                                {
                                    var category = new WebCompany.Data.CategoryDto();
                                    category.ContentId = Model.CategoryListModel.FirstOrDefault().ContentId;
                                    category.LanguageId = _model.Id;
                                    Model.CategoryModel = category;
                                }
                            }
                            <div class="tab-pane @(Model.LanguageListModel.IndexOf(_model)==0?"active":"")" id="@(_model.Symbol)" role="tabpanel" aria-labelledby="@(_model.Symbol)-tab">

                                @Html.Partial("_CreateOrEdit", Model)
                            </div>

                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>