﻿@model WebCompany.UI.Models.SiteModel
@section metatags
{
    @Html.Partial("~/Views/Shared/Partials/MetaTitle.cshtml", Model.GetMetaTagViewModel())
}
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="main-title">@Model.PageModel.Title</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@WebCompany.Core.UrlExtensions.SiteUrl">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active"><span><strong>@Model.PageModel.Title</strong></span></li>
    </ol>
    <!-- Intro Content -->
    <div class="about-heading">
        <div class="about-heading__inner">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 class="lazyload img-fluid rounded about-heading-img mb-3 mb-lg-0"
                 data-src="/content/img/p/desktop/@Model.PageModel.Image"
                 alt="@Model.PageModel.Title" />
            <div class="about-heading__content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">@Model.PageModel.Title</span>
                                <span class="section-heading-lower">@Model.PageModel.ShortDetail</span>
                            </h2>
                            <p>@Html.Raw(Model.PageModel.Detail)</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

 