﻿@model WebCompany.UI.Models.SiteModel

 
            @if (TempData["Message"] != null)
            {<div class="@Html.Raw(Convert.ToBoolean(TempData["Result"])==true? "alert alert-success":"alert alert-error")">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>@Html.Raw(Convert.ToBoolean(TempData["Result"]) == true ? "Success!" : "Error!")</strong>@TempData["Message"]
                </div>
            }
            <div class="block-content collapse in">
                <div class="span12">
             
                    @if (Model != null)
                    {
                        using (Html.BeginForm("Save", "SiteTool", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
                        {
                            <div style="color:red;font-size:14px">  @Html.ValidationSummary() </div>
                            <div>@ViewBag.Message</div>
                            <fieldset>
                               
                                <ul class="nav nav-tabs setting" id="myTabSetting" role="tablist">
                                    <li class="nav-item active">
                                        <a class="nav-link active" id="baslik@(Model?.SettingModel?.LanguageId)-tab" data-toggle="tab" href="#baslik@(Model.SettingModel?.LanguageId)" role="tab" aria-controls="baslik@(Model?.SettingModel?.LanguageId)" aria-selected="true">Site Başlık</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="reklam@(Model?.SettingModel?.LanguageId)-tab" data-toggle="tab" href="#reklam@(Model?.SettingModel?.LanguageId)" role="tab" aria-controls="reklam@(Model?.SettingModel?.LanguageId)" aria-selected="true">Reklam</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="sosyal@(Model?.SettingModel?.LanguageId)-tab" data-toggle="tab" href="#sosyal@(Model?.SettingModel?.LanguageId)" role="tab" aria-controls="sosyal@(Model?.SettingModel?.LanguageId)" aria-selected="true">Sosyal Medya</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="altmesaj@(Model?.SettingModel?.LanguageId)-tab" data-toggle="tab" href="#altmesaj@(Model?.SettingModel?.LanguageId)" role="tab" aria-controls="altmesaj@(Model?.SettingModel?.LanguageId)" aria-selected="true">Alt Mesaj</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="seo@(Model?.SettingModel?.LanguageId)-tab" data-toggle="tab" href="#seo@(Model?.SettingModel?.LanguageId)" role="tab" aria-controls="seo@(Model?.SettingModel?.LanguageId)" aria-selected="true">Seo</a>
                                    </li>
                                </ul>
                                <div class="tab-content setting" style="display:block">
                                    <div class="tab-pane active" id="baslik@(Model?.SettingModel?.LanguageId)" role="tabpanel" aria-labelledby="baslik-tab">
                                        <div class="control-group">
                                            @Html.HiddenFor(m => m.SettingModel.Id)
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Title)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Title, new { @class = "span6 m-wrap", @placeholder = "Site Adı..." })  </div>
                                        </div>
                                        @Html.HiddenFor(x => x.SettingModel.Id)
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">Fotoğraf boyutu</label>
                                            <div class="controls" style="font-weight:bolder;">En az @WebCompany.Core.UrlExtensions.ImagePathWidth.Split(',').LastOrDefault() px genişlik</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Logo)</label>

                                            <div class="controls">
                                                <input type="file" name="Images" id="Images1" />
                                                @Html.HiddenFor(m => m.SettingModel.Logo)
                                            </div>
                                            <br />
                                            <div class="controls" style="background-color:black;"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ImageViewPath,"mobile",Model?.SettingModel?.Logo)" width="270px" height="52px" /></div>
                                        </div>
                                        @Html.HiddenFor(m=> m.SettingModel.LanguageId)
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Icon)</label>

                                            <div class="controls">
                                                <input type="file" name="Images" id="Images2" />
                                                @Html.HiddenFor(m => m.SettingModel.Icon)
                                            </div>
                                            <br />
                                            <div class="controls" style="background-color:black;"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ImageViewPath,"mobile",Model?.SettingModel?.Icon)" width="270px" height="52px" /></div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Email)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Email, new { @class = "span6 m-wrap", @placeholder = "Email..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Phone)</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(m => m.SettingModel.Phone, new { @class = "span6 m-wrap", @placeholder = "Phone..." })
                                                <span class="help-block">e.g: 02164444444 veya 544 122 12 12</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="reklam@(Model?.SettingModel?.LanguageId)" role="tabpanel" aria-labelledby="reklam-tab">
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HomeContactPath)</label>

                                            <div class="controls">
                                                <input type="file" name="Images" id="Images3" />
                                                @Html.HiddenFor(m => m.SettingModel.HomeContactPath)
                                            </div>
                                            <br />
                                            <div class="controls" style="background-color:black;"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ImageViewPath,"mobile",Model?.SettingModel?.HomeContactPath)" width="270px" height="52px" /></div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HomeContactTitle)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.HomeContactTitle, new { @class = "span6 m-wrap", @placeholder = Model?.SettingModel?.HomeContactTitle })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HomeContactDetail)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.HomeContactDetail, new { @class = "span6 m-wrap", @placeholder = Model?.SettingModel?.HomeContactDetail })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HomeContactPhone)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.HomeContactPhone, new { @class = "span6 m-wrap", @placeholder = Model?.SettingModel?.HomeContactPhone })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HomeContactUrl)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.HomeContactUrl, new { @class = "span6 m-wrap", @placeholder = Model?.SettingModel?.HomeContactUrl })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.IsHomeContact)</label>
                                            <div class="controls">@Html.CheckBox("SettingModel.IsHomeContact") </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="sosyal@(Model?.SettingModel?.LanguageId)" role="tabpanel" aria-labelledby="sosyal-tab">
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Facebook)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Facebook, new { @class = "span6 m-wrap", @placeholder = "Facebook..." })<span class="help-block">e.g: http://www.facebook.com/faceadres </span></div>

                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Twitter)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Twitter, new { @class = "span6 m-wrap", @placeholder = "Twitter..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Google)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Google, new { @class = "span6 m-wrap", @placeholder = "Google..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Youtube)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Youtube, new { @class = "span6 m-wrap", @placeholder = "Youtube..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Linkedin)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Linkedin, new { @class = "span6 m-wrap", @placeholder = "Linkedin..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Instagram)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Instagram, new { @class = "span6 m-wrap", @placeholder = "Instagram..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.CopyRight)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.CopyRight, new { @class = "span6 m-wrap", @placeholder = "Copyright..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.GoogleAnaltiycs)</label>
                                            <div class="controls">@Html.TextAreaFor(m => m.SettingModel.GoogleAnaltiycs, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "GoogleAnaltiycs.." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.GoogleMaps)</label>
                                            <div class="controls">@Html.TextAreaFor(m => m.SettingModel.GoogleMaps, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "GoogleMaps.." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Url)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Url, new { @class = "span6 m-wrap", @placeholder = "Facebook..." })<span class="help-block">e.g: http://www.facebook.com/faceadres </span></div>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="altmesaj@(Model?.SettingModel?.LanguageId)" role="tabpanel" aria-labelledby="altmesaj-tab">
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HeadLine)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.HeadLine, new { @class = "span6 m-wrap", @placeholder = "Anasayfa vizyon başlık..." })</div>

                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HeadLineText)</label>
                                            <div class="controls">@Html.TextAreaFor(m => m.SettingModel.HeadLineText, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Anasayfa vizyon açıklama.." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HeadLine2)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.HeadLine2, new { @class = "span6 m-wrap", @placeholder = "Anasayfa vizyon başlık..." })</div>

                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HeadLineText2)</label>
                                            <div class="controls">@Html.TextAreaFor(m => m.SettingModel.HeadLineText2, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Anasayfa vizyon açıklama.." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HeadLine3)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.HeadLine3, new { @class = "span6 m-wrap", @placeholder = "Anasayfa vizyon başlık..." })</div>

                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HeadLineText3)</label>
                                            <div class="controls">@Html.TextAreaFor(m => m.SettingModel.HeadLineText3, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Anasayfa vizyon açıklama..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HeadLine4)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.HeadLine4, new { @class = "span6 m-wrap", @placeholder = "Anasayfa vizyon başlık..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.HeadLineText4)</label>
                                            <div class="controls">@Html.TextAreaFor(m => m.SettingModel.HeadLineText4, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Footer Açıklama..." })</div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Footer)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Footer, new { @class = "span6 m-wrap", @placeholder = "Anasayfa vizyon başlık..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.FooterText)</label>
                                            <div class="controls">@Html.TextAreaFor(m => m.SettingModel.FooterText, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Footer Açıklama..." })</div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.Footer2)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.Footer2, new { @class = "span6 m-wrap", @placeholder = "Footer başlık..." })</div>

                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.FooterText2)</label>
                                            <div class="controls">@Html.TextAreaFor(m => m.SettingModel.FooterText2, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Footer Açıklama..." })</div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="seo@(Model?.SettingModel?.LanguageId)" role="tabpanel" aria-labelledby="seo-tab">
                                        <h3>Seo giriş</h3>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.MetaTitle)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.MetaTitle, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Başlık..." })  </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.MetaDescription)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.MetaDescription, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Açıklama..." })  </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SettingModel.MetaKeywords)</label>
                                            <div class="controls">@Html.TextBoxFor(m => m.SettingModel.MetaKeywords, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Anahtar Kelime, araba, araç, buran..." })  </div>
                                        </div>
                                        @Html.HiddenFor(m => m.SettingModel.ContentId)
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                    <button type="reset" class="btn">Vazgeç</button>
                                </div>
                            </fieldset>

                        }
                    }
                </div>
            </div>
         