﻿@model WebCompany.UI.Models.SiteModel
@{
    var galleryList = Model.GalleryModelList;
    var url = @WebCompany.Core.UrlService.WebViewUrl("galeri");
}
@section metatags
{
    @Html.Partial("Partials/MetaTitle", Model.SeoTag)
}

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="main-title">ÜRÜN RESİMLERİMİZ</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@WebCompany.Core.UrlExtensions.SiteUrl">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active"><span><strong>Galeri</strong></span></li>
    </ol>
    <!-- Intro Content -->
    <div class="galery-page">
        <div class="galery-page__inner">
            <ul class="galery-page__items">
                @foreach (var gallery in galleryList)
                {
                    <li class="galery-page__item">
                        <a href="/content/img/g/desktop/@gallery.Path" class="galery-page__item-link lightbox-link" data-toggle="lightbox" data-gallery="lightbox-img-galery">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-src="/content/img/g/mobile/@gallery.Path"
                                 class="galery-page__item-img lazyload img-fluid rounded"
                                 alt="@gallery.Title" />
                        </a>
                    </li>
                }
             
            </ul>
            <div class="pagination-wrapper">
                <ul class="pagination pagination-sm">
                    <li class="page-item @(Model.Page==1?"disabled":"")"><a class="page-link" href="@($"{url}/{Model.Page-1}")">Geri</a></li>
                    @for (int i = 1; i <= Model.Pages; i++)
                    {
                        <li class="page-item @(Model.Page==i?"active":"")"><a class="page-link" href="@($"{url}/{i}")">@i</a></li>
                    }
                    <li class="page-item @(Model.Pages==Model.Page?"disabled":"")"><a class="page-link" href="@($"{url}/{Model.Page+1}")">İleri</a></li>
                </ul>
            </div>
            <!-- /.pagination -->
        </div>
    </div>
    <!-- /.row -->
</div>

