﻿@model  WebCompany.UI.Models.SiteModel

@{
    ViewBag.Title = "Message";
    var messageModel = Model.MessageModelList;
}



<style>
    .validation-summary-errors {
        background-color: #D9FFB2;
        border: 1px solid #5CBA30;
        width: 400px;
    }
</style>


<div class="span9" id="content">

    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Müşteri mesajları</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="table-toolbar">
                        <div class="btn-group">
 
                        </div>

                    </div>

                    @if (TempData["Message"] != null)
                     {<div class="@Html.Raw(Convert.ToBoolean(TempData["Result"])==true? "alert alert-success":"alert alert-error")">
                        <button class="close" data-dismiss="alert">×</button>
                        <strong>@Html.Raw(Convert.ToBoolean(TempData["Result"]) == true ? "Success!" : "Error!")</strong>@TempData["Message"]
                    </div>}
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
                        <thead>
                            <tr> 
                                <th>Ad Soyad</th> 
                                <th>Telefon Numarası</th>
                                <th>Email</th> 
                                <th>Kayıt Tarihi</th>
                                <th>Durum</th> 
                            </tr>
                        </thead>
                        <tbody>
                            @if (messageModel!=null && messageModel.Any())
	                        {
                            foreach (var message in Model.MessageModelList)
                            {
                                <tr class="odd gradeX">
                                  
                                    <td>@message.FullName</td>
                                    <td>@message.PhoneNumber</td>
                                    <td>@message.Email</td>
                                    <td>@message.CreatedDateTime</td>   
                                    <td>@Html.Raw(message.Actived == true ? $"<a href='/Admin/Message/Reader/{@message.Id}'><span class='label label-success'>Okundu</span></a>" : $"<a href='/Admin/Message/Reader/{@message.Id}'><span class='label label-important'>Okunmadı</span></a>")</td>

                                </tr>
                                <tr>
                                    <td colspan="6">@Html.Raw(message.Message)</td>
                                </tr>
                            }

                            }
                        </tbody>
                    </table>
                
                    <div class="pagination">
                        <ul>
                          @if (Model.Page>1)
                          {
                            <li><a href="@($"/Admin/Message/List/{Model.Page-1}")">Geri</a></li>
                          }
                            @for (int i = 1; i <= Model.Pages; i++)
                            {
                                <li class="@(Model.Page==i?"active":"")">
                            <a  href="@($"/Admin/Message/List/{i}")">@i</a>
                                </li>
                            } 
                            @if (Model.Page!=Model.Pages)
                            {
                                <li><a href="@($"/Admin/Message/List/{Model.Page+1}")">İleri</a></li>
                            }
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
