﻿

<!DOCTYPE html>
<html lang="tr">
<head>
  @RenderSection("metatags", false) 
</head>
<body>
    <!-- Navigation --> 
    @{ Html.RenderAction("Navigation", "Shared", new { area = "" });}
     
    @{ Html.RenderAction("Slider", "Shared", new { area = "" });}
 
    @RenderBody() 
      
    <!-- Footer about -->
    @{ Html.RenderAction("Footer", "Shared", new { area = "" });} 
</body>
</html>
