﻿@model WebCompany.Business.Models.AddSiteModel


@if (TempData["Message"] != null)
{<div class="@Html.Raw(Convert.ToBoolean(TempData["Result"])==true? "alert alert-success":"alert alert-error")">
        <button class="close" data-dismiss="alert">×</button>
        <strong>@Html.Raw(Convert.ToBoolean(TempData["Result"]) == true ? "Success!" : "Error!")</strong>@TempData["Message"]
    </div>
}
<div class="block-content collapse in">
    <div class="span12">

        @if (Model != null)
        {
            using (Html.BeginForm("Save", "AddWebSite", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                <div style="color:red;font-size:14px">  @Html.ValidationSummary() </div>
                <div>@ViewBag.Message</div>
                <fieldset>

                    <ul class="nav nav-tabs setting" id="myTabSetting" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link active" id="baslik@(Model?.LanguageId)-tab" data-toggle="tab" href="#baslik@(Model?.LanguageId)" role="tab" aria-controls="baslik@(Model?.LanguageId)" aria-selected="true">Site Başlık</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="reklam@(Model?.LanguageId)-tab" data-toggle="tab" href="#reklam@(Model?.LanguageId)" role="tab" aria-controls="reklam@(Model?.LanguageId)" aria-selected="true">Reklam</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="sosyal@(Model?.LanguageId)-tab" data-toggle="tab" href="#sosyal@(Model?.LanguageId)" role="tab" aria-controls="sosyal@(Model?.LanguageId)" aria-selected="true">Sosyal Medya</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="altmesaj@(Model?.LanguageId)-tab" data-toggle="tab" href="#altmesaj@(Model?.LanguageId)" role="tab" aria-controls="altmesaj@(Model?.LanguageId)" aria-selected="true">Alt Mesaj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="seo@(Model?.LanguageId)-tab" data-toggle="tab" href="#seo@(Model?.LanguageId)" role="tab" aria-controls="seo@(Model?.LanguageId)" aria-selected="true">Seo</a>
                        </li>
                    </ul>
                    <div class="tab-content setting" style="display:block">
                        <div class="tab-pane active" id="baslik@(Model?.LanguageId)" role="tabpanel" aria-labelledby="baslik-tab">
                            <div class="control-group">
                                @Html.HiddenFor(m => m.Id)
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Title)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Title, new { @class = "span6 m-wrap", @placeholder = "Site Adı..." })  </div>
                            </div>
                            @Html.HiddenFor(x => x.Id)
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">Fotoğraf boyutu</label>
                                <div class="controls" style="font-weight:bolder;">En az @WebCompany.Core.UrlExtensions.ImagePathWidth.Split(',').LastOrDefault() px genişlik</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Logo)</label>

                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Image, new { type = "file" })
                                    @Html.HiddenFor(m => m.Logo)
                                </div>
                                <br />
                                <div class="controls" style="background-color:black;"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ImageViewPath,"mobile",Model?.Logo)" width="270px" height="52px" /></div>
                            </div>
                            @Html.HiddenFor(m => m.LanguageId)
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Icon)</label>

                                <div class="controls">
                                    <input type="file" name="Images" id="Images2" />
                                    @Html.HiddenFor(m => m.Icon)
                                </div>
                                <br />
                                <div class="controls" style="background-color:black;"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ImageViewPath,"mobile",Model?.Icon)" width="270px" height="52px" /></div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Email)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Email, new { @class = "span6 m-wrap", @placeholder = "Email..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Phone)</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "span6 m-wrap", @placeholder = "Phone..." })
                                    <span class="help-block">e.g: 02164444444 veya 544 122 12 12</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="reklam@(Model?.LanguageId)" role="tabpanel" aria-labelledby="reklam-tab">
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HomeContactPath)</label>

                                <div class="controls">
                                    <input type="file" name="Images" id="Images3" />
                                    @Html.HiddenFor(m => m.HomeContactPath)
                                </div>
                                <br />
                                <div class="controls" style="background-color:black;"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ImageViewPath,"mobile",Model?.HomeContactPath)" width="270px" height="52px" /></div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HomeContactTitle)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.HomeContactTitle, new { @class = "span6 m-wrap", @placeholder = Model?.HomeContactTitle })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HomeContactDetail)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.HomeContactDetail, new { @class = "span6 m-wrap", @placeholder = Model?.HomeContactDetail })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HomeContactPhone)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.HomeContactPhone, new { @class = "span6 m-wrap", @placeholder = Model?.HomeContactPhone })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HomeContactUrl)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.HomeContactUrl, new { @class = "span6 m-wrap", @placeholder = Model?.HomeContactUrl })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.IsHomeContact)</label>
                                <div class="controls">@Html.CheckBox("SettingModel.IsHomeContact") </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="sosyal@(Model?.LanguageId)" role="tabpanel" aria-labelledby="sosyal-tab">
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Facebook)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Facebook, new { @class = "span6 m-wrap", @placeholder = "Facebook..." })<span class="help-block">e.g: http://www.facebook.com/faceadres </span></div>

                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Twitter)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Twitter, new { @class = "span6 m-wrap", @placeholder = "Twitter..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Google)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Google, new { @class = "span6 m-wrap", @placeholder = "Google..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Youtube)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Youtube, new { @class = "span6 m-wrap", @placeholder = "Youtube..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Linkedin)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Linkedin, new { @class = "span6 m-wrap", @placeholder = "Linkedin..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Instagram)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Instagram, new { @class = "span6 m-wrap", @placeholder = "Instagram..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.CopyRight)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.CopyRight, new { @class = "span6 m-wrap", @placeholder = "Copyright..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GoogleAnaltiycs)</label>
                                <div class="controls">@Html.TextAreaFor(m => m.GoogleAnaltiycs, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "GoogleAnaltiycs.." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GoogleMaps)</label>
                                <div class="controls">@Html.TextAreaFor(m => m.GoogleMaps, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "GoogleMaps.." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Url)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Url, new { @class = "span6 m-wrap", @placeholder = "Facebook..." })<span class="help-block">e.g: http://www.facebook.com/faceadres </span></div>

                            </div>
                        </div>
                        <div class="tab-pane" id="altmesaj@(Model?.LanguageId)" role="tabpanel" aria-labelledby="altmesaj-tab">
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HeadLine)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.HeadLine, new { @class = "span6 m-wrap", @placeholder = "Anasayfa vizyon başlık..." })</div>

                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HeadLineText)</label>
                                <div class="controls">@Html.TextAreaFor(m => m.HeadLineText, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Anasayfa vizyon açıklama.." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HeadLine2)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.HeadLine2, new { @class = "span6 m-wrap", @placeholder = "Anasayfa vizyon başlık..." })</div>

                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HeadLineText2)</label>
                                <div class="controls">@Html.TextAreaFor(m => m.HeadLineText2, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Anasayfa vizyon açıklama.." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HeadLine3)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.HeadLine3, new { @class = "span6 m-wrap", @placeholder = "Anasayfa vizyon başlık..." })</div>

                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HeadLineText3)</label>
                                <div class="controls">@Html.TextAreaFor(m => m.HeadLineText3, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Anasayfa vizyon açıklama..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HeadLine4)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.HeadLine4, new { @class = "span6 m-wrap", @placeholder = "Anasayfa vizyon başlık..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.HeadLineText4)</label>
                                <div class="controls">@Html.TextAreaFor(m => m.HeadLineText4, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Footer Açıklama..." })</div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Footer)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Footer, new { @class = "span6 m-wrap", @placeholder = "Anasayfa vizyon başlık..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.FooterText)</label>
                                <div class="controls">@Html.TextAreaFor(m => m.FooterText, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Footer Açıklama..." })</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Footer2)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.Footer2, new { @class = "span6 m-wrap", @placeholder = "Footer başlık..." })</div>

                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.FooterText2)</label>
                                <div class="controls">@Html.TextAreaFor(m => m.FooterText2, new { @class = "input-xlarge focused", @style = "width: 310px; height: 80px", @placeholder = "Footer Açıklama..." })</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="seo@(Model?.LanguageId)" role="tabpanel" aria-labelledby="seo-tab">
                            <h3>Seo giriş</h3>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.MetaTitle)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.MetaTitle, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Başlık..." })  </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.MetaDescription)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.MetaDescription, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Açıklama..." })  </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.MetaKeywords)</label>
                                <div class="controls">@Html.TextBoxFor(m => m.MetaKeywords, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Anahtar Kelime, araba, araç, buran..." })  </div>
                            </div>
                            @Html.HiddenFor(m => m.ContentId)
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                        <button type="reset" class="btn">Vazgeç</button>
                    </div>
                </fieldset>

            }
        }
    </div>
</div>
