﻿@model  WebCompany.UI.Areas.Admin.ProductAdminViewModel

@{
    ViewBag.Title = "İçerikler";
}

 
                <div class="span12">
                    @using (Html.BeginForm("Save", "Product", FormMethod.Post, new { id = "passowrd", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                    <fieldset>
                      
                           
                            @if (Model == null || Model.Id == null)
                            {
                                <div class="controls">@Html.HiddenFor(m => m.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })</div>
                            }
                            else
                            {
                                <div class="controls">@Html.HiddenFor(m => m.Id, new { @class = "input-xlarge focused", @readonly = "readonly" })</div>
                            }
                      
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Name)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.Name, new { @class = "input-xlarge focused", @placeholder = "Ürün Adı..." })  </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Detail)</label>
                            <div class="controls">@Html.TextAreaFor(m => m.Detail, new { @id = "ckeditor_full", @style = "width: 810px; height: 200px", @placeholder = "Detay..." })  </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Price)</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Price, new { @class = "input-xlarge focused", @placeholder = "Fiyat..." })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SalesPrice)</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.SalesPrice, new { @class = "input-xlarge focused", @placeholder = "Satış Fiyatı..." })

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.CurrencyUnit)</label>
                            <div class="controls">
                                <select name="CurrencyUnit" id="CurrencyUnit">
                                    <option value="1" @(Model != null && Model.CurrencyUnit == 1 ? "selected" : "")>TL</option>
                                    <option value="2" @(Model != null && Model.CurrencyUnit == 2 ? "selected" : "")>$</option>
                                    <option value="3" @(Model != null && Model.CurrencyUnit == 3 ? "selected" : "")>€</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.CategoryId)</label>
                            <div class="controls">
                                <select name="CategoryId" id="CategoryId">

                                    @foreach (var category in Model.ProductCategoryList)
                                    {
                                        <option value="@category.Id" @(Model != null && Model.CategoryId == @category.Id ? "selected" : "")>@category.Name</option>
                                    }

                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Image)</label>

                            <div class="controls">
                                <input type="file" name="files[0]" id="files_0" />
                                @Html.HiddenFor(m => m.Image)
                            </div>
                            <br />
                            <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ProductViewPath,"mobile",Model.Image)" width="110px" height="52px" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Image2)</label>

                            <div class="controls">
                                <input type="file" name="files[1]" id="files_1" />
                                @Html.HiddenFor(m => m.Image2)
                            </div>
                            <br />
                            <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ProductViewPath,"mobile",Model.Image2)" width="110px" height="52px" /></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Image3)</label>

                            <div class="controls">
                                <input type="file" name="files[2]" id="files_2" />
                                @Html.HiddenFor(m => m.Image3)
                            </div>
                            <br />
                            <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ProductViewPath,"mobile",Model.Image3)" width="110px" height="52px" /></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Image4)</label>

                            <div class="controls">
                                <input type="file" name="files[3]" id="files_3" />
                                @Html.HiddenFor(m => m.Image4)
                                @Html.HiddenFor(m => m.ContentId)
                                @Html.HiddenFor(m => m.LanguageId)
                            </div>
                            <br />
                            <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.ProductViewPath,"mobile",Model.Image4)" width="110px" height="52px" /></div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Actived)</label>
                            <div class="controls">@Html.CheckBox("Actived") </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Tag)</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Tag, new { @class = "input-xlarge focused", @placeholder = "Tag halı,yıkama vs..." })

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.IsHomePage)</label>
                            <div class="controls">@Html.CheckBox("IsHomePage") </div>
                        </div>
                        <h3>Seo giriş</h3>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.MetaTitle)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.MetaTitle, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Başlık..." })  </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.MetaDescription)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.MetaDescription, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Açıklama..." })  </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.MetaKeywords)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.MetaKeywords, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Anahtar Kelime, araba, araç, buran..." })  </div>
                        </div>
                        @Html.HiddenFor(m => m.ContentId)


                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                            <button type="reset" class="btn">Vazgeç</button>
                        </div>
                    </fieldset>
                    }

                </div>
         