﻿@model  WebCompany.UI.Areas.Admin.ProductViewModel
@{
    ViewBag.Title = "Ürün Düzelt";
}

<div class="span9" id="content">
    <div class="row-fluid">

        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Ürün Düzelt</div>
            </div>
            <div class="block-content collapse in">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    @foreach (var lan in Model.LanguageList)
                    {
                        <li class="nav-item @(Model.LanguageList.IndexOf(lan)==0?"active":"")">
                            <a class="nav-link active" id="@(lan.Symbol)-tab" data-toggle="tab" href="#@(lan.Symbol)" role="tab" aria-controls="@(lan.Symbol)" aria-selected="true">@(lan.Title)</a>
                        </li>
                    }
                </ul>
                <div class="tab-content" style="display:block">
                    @{ var pmodel =new  WebCompany.UI.Areas.Admin.ProductAdminViewModel();}
                    @foreach (var _model in Model.LanguageList)
                    {
                        {

                            pmodel = Model.ProductAdminViewModel.FirstOrDefault(d => d.LanguageId == _model.Id);
                            if (pmodel == null)
                            {
                                var productnull = new WebCompany.UI.Areas.Admin.ProductAdminViewModel();
                                productnull.ContentId = Model.ProductAdminViewModel.FirstOrDefault().ContentId;
                                productnull.LanguageId = _model.Id;
                                pmodel = productnull;
                            }
                            pmodel.ProductCategoryList = Model.ProductCategoryList;
                        }
                        <div class="tab-pane @(Model.LanguageList.IndexOf(_model)==0?"active":"")" id="@(_model.Symbol)" role="tabpanel" aria-labelledby="@(_model.Symbol)-tab">

                            @Html.Partial("_CreateOrEdit", pmodel)
                        </div>

                    }
                </div>

            </div>
        </div>
    </div>
</div> 