﻿@model WebCompany.UI.Areas.Admin.VideoModel

@{
    ViewBag.Title = "Video";
}


<div class="span12">
    @using (Html.BeginForm("Save", "Video", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary()
        <fieldset>

            @if (Model == null || Model.Id == null)
            {
                 @Html.HiddenFor(m => m.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" }) 
            }
            else
            {
                @Html.HiddenFor(m => m.Id, new { @class = "input-xlarge focused", @readonly = "readonly" }) 
            }


            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Title)</label>
                <div class="controls">@Html.TextBoxFor(m => m.Title, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Detials)</label>
                <div class="controls">@Html.TextAreaFor(m => m.Detials, new { @id = "ckeditor_full", @style = "width: 810px; height: 200px", @placeholder = "Kısa açıklama..." })  </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.VideoCode)</label>
                <div class="controls">@Html.TextAreaFor(m => m.VideoCode, new {   @style = "width: 600px; height: 200px", @placeholder = "Video Code..." })  </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Rows)</label>
                <div class="controls">@Html.TextBoxFor(m => m.Rows, new { @type = "number" }) </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Image)</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Photo, new { type = "file" })
                    @Html.HiddenFor(m => m.Image)
                </div>
                <br />
                <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.VideoViewPath,"mobile",Model.Image)" width="110px" height="52px" /></div>
            </div>


            @Html.HiddenFor(m => m.ContentId)
            @Html.HiddenFor(m => m.LanguageId)
            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Actived)</label>
                <div class="controls">@Html.CheckBox("Actived") </div>
            </div>
           
            <h3>Seo giriş</h3>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.MetaTitle)</label>
                <div class="controls">@Html.TextBoxFor(m => m.MetaTitle, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Başlık..." })  </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.MetaDescription)</label>
                <div class="controls">@Html.TextBoxFor(m => m.MetaDescription, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Açıklama..." })  </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.MetaKeywords)</label>
                <div class="controls">@Html.TextBoxFor(m => m.MetaKeywords, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Anahtar Kelime, araba, araç, buran..." })  </div>
            </div>



            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <button type="reset" class="btn">Vazgeç</button>
            </div>
        </fieldset>
    }

</div>
