@import 'variable.less';
@import 'mixin.less';
@import 'icons.less';
@import 'lesshat-prefixed.less';
@import 'flex.less';
@import 'lightbox.less';

html {
    font-family: Trebuchet MS;
    font-size: @font-size-base;
}

body {
    color: @color-base;
    background: url('../../images/bg/bg1.jfif') 0 0 repeat;
}

h1, h2, h3, h4, h5, h6, p {
    color: @color-base;
}

h1, h2, h3 {
	font-size: 1.5rem;
	
    @media (max-width: @screen-md-max) {
        font-size: 1.5rem;
    }
}

h4, h5, h6 {
	font-size: 1.2rem;
	
    @media (max-width: @screen-md-max) {
        font-size: 1.2rem;
    }
}

a:link, a:hover, a:visited {
    color: @color-base;
    text-decoration: none;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
	general
*/
.info-text {
    text-align: center;
    padding: 25px 10px;
    font-weight: bold;
    color: #8a2929;
}

/*
	//nav
*/
.nav {
    .lh-background-image(linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%));
}

/*
    //title
*/
.main-title {
    padding-bottom: 10px;
    margin: 25px 0;
    color: #666;
    text-align: center;
    //border-bottom: 1px dotted @green;
    position: relative;
	font-size: 2.5rem;

    &:before {
        content: '';
        border: 1px solid @green;
        position: absolute;
        width: 100px;
        height: 1px;
        left: 50%;
        bottom: 0;
        margin-left: -50px;
    }

    @media (max-width: @screen-md-max) {
        font-size: 1.5rem;
    }
}

.main-title--white {
    font-size: 1.5rem;
    color: #fff;
}

.main-title--home-page {
    margin-bottom: 10px;
    //border: none;
    color: #64737b;
}

/*
    //main-carousel
*/
.main-carousel {

	&__img {
		width:100%;
		height:100%;
	}

}
.carousel-indicators--main-carousel {

    li {
        .lh-opacity(0.5);
        .lh-border-radius(50%);
        width: 15px;
        height: 15px;
        margin: 3px;
        background: #df1661;
        border: 0;

        &.active {
            border: 4px solid #df1661;
            background: #fff;
        }
        /*
		text-indent: unset;
        height: auto;
        width: 20px;
		
        &:before {
            font-family: 'icomoon';
            content: '\ea56';
            font-size: 1rem;
            color: #fff;
        }
		*/
        &:hover {

            &:before {
                content: '\ea54';
                font-weight: bold;
                color: #c33;
            }
        }
    }

    .active {

        &:before {
            content: '\ea54';
            font-weight: bold;
            color: #c33;
        }
    }
}

.search {
    margin-left: .5rem;

    &__form {
        padding: 0.2rem 0;
    }

    &__input {
        .lh-placeholder(#696262);
        padding: .175rem .50rem;
        background: #fff;
        margin-right: .5rem;
        font-size: 0.85rem;
        color: #696262;
        border-bottom: none;
        border-color: #6f6969;

        &:focus {
            background: #fff;
            color: #696262;
        }

        &:focus,
        &:active,
        &:hover {
            border-color: #6f6969 !important;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
        }

        @media (max-width: @screen-xs-max) {
            width: 80%;
        }
    }

    &__btn {
        padding: .175rem .50rem;
        background: none;
        color: #fff;
        border: 0;
        cursor: pointer;

        &:after {
            font-family: 'icomoon';
            content: '\e986';
        }

        &:focus,
        &:active,
        &:hover {
            background: none !important;
            border: 0 !important;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
        }
    }
}

/*
    //products
*/
.products {
    .make-row();

    &__left {
        .make-xs-column(12);
        .make-md-column(3);
    }

    &__right {
        .make-xs-column(12);
        .make-md-column(9);
    }

    &__hit {
        padding-bottom: 25px;
    }

    &__hit-item {
        border-bottom: 1px solid @gray;
        padding: 5px;

        &:first-child {
            border: none;
        }
    }

    &__hit-title {
        font-size: 1.2rem;
        color: #b1308c;
        padding-left: 16px;

        &:before {
            font-family: 'icomoon';
            content: '\e92e';
            margin-right: 5px;
            font-size: 1rem;
        }
    }

    &__hit-link {
        padding-left: 20px;

        &:link,
        &:visited {
            color: #666;
            font-size: 0.9rem;
        }

        &.active,
        &:hover {
            color: #b1308c;

            &:before {
                content: '\ea54';
            }
        }

        &:before {
            font-family: 'icomoon';
            content: '\ea56';
            margin-right: 5px;
            font-size: 0.5rem;
        }
    }
}

/*
    //top-product
*/
.top-product {
    .make-xs-column(6);
    .make-md-column(3);
    float: left;

    &__img-wrapper {
        width: 100%;
        height: 220px;
        display: inline-block;
        border-top: 5px solid @green;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @media (max-width: @screen-md-max) {
            height: auto;
        }

        &:before {
            position: absolute;
            z-index: 2;
            left: 10px;
            top: 0;
            padding: 7.5px 15px;
            background-color: rgba(131, 212, 104, 1);
            vertical-align: middle;
            text-align: center;
            font-family: 'icomoon';
            content: '\e9d7';
            font-size: 1rem;
            color: #fff;
        }

        &:after {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            z-index: 3;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        &:hover {

            &:after {
                display: block;
            }

            .top-product__img {
                width: 110%;
                margin-left: -5%;
                margin-top: -5%;
                .lh-transition(0.5s);
            }
        }
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__desc {
        width: 100%;
        padding-top: 20px;
        display: inline-block;
        margin-top: 10px;
        padding: 10px;
    }

    &__title {
        color: #666;
        font-size: 1.1rem;
    }

    &__text {
        font-size: 0.85rem;
    }
}

.carousel--top-products {
    margin-bottom: 50px;
}

.carousel-indicators--top-products {
    bottom: -25px;

    .active {
        background-color: @green;
    }

    li {
        background-color: @green-soft;
        width: 50px;
        height: 5px;
    }
}

/*
	//company-info
*/
.company-info {
    .make-row();
    padding-bottom: 20px;

    &__inner {
        .make-xs-column(12);
        text-align: center;
    }

    &__img {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    &__text {
        color: #666;
        text-align: center;
        font-size: 1.5rem;

        &:before {
            font-family: 'icomoon';
            content: '\e942';
            color: @green;
        }

        @media (max-width: @screen-md-max) {
            font-size: 1rem;
        }
    }

    &__btn {
        color: #fff;
        margin-top: 10px;

        &:link,
        &:visited,
        &:hover {
            color: #fff;
        }

        &:hover {
            font-weight: bold;
        }
    }
}

/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 3rem;
    margin-bottom: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
    background: none;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #FFF;
    font-size: 19px;
    color: @color-base !important;
    background: #f5eff7;
}

.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: @green #faf6fb #FFF;
    color: #633991;
}

/*
	//headline
*/
.headline {
    .make-row();
    margin: 0 !important;
    padding-bottom: 30px;

    &__item {
        .make-lg-column(3);
        text-align: center;
        //border-right: 1px dotted @gray;
        &:last-child {
            border: none;
        }
    }

    &__icon {
        .lh-border-radius(50%);
        display: block;
        background-color: @green-soft;
        font-size: 3rem;
        width: 75px;
        height: 75px;
        margin: auto;
        margin-bottom: 10px;

        &:before {
            vertical-align: middle;
            font-size: 1.75rem;
            color: white;
        }

        &:hover {
            .lh-keyframes(~'change-icon-bg, 0%{ background-color: #EDF2F0; } 10%{ background-color: #FFF }');
            .lh-animation-name(change-icon-bg);
            .lh-animation-duration(2s);

            &:before {
                color: @color-base;
            }
        }
    }

    &__title {
        font-size: 1rem;
        color: @color-base;
    }

    &__text {
        font-size: 0.85rem;
    }
}

/*
	img-galery
*/
.img-galery {
    .make-row();
    width: 100%;
    min-height: 450px;
    background: rgba(0,0,0,0.5);
    margin-bottom: 50px;

    &__inner {
    }

    &__left {
        .make-xs-column(12);
        .make-md-column(6);

        @media (max-width: @screen-md-max) {
            padding-top: 40px;
        }
    }

    &__left-inner {
        background: rgba(255,255,255,.85);

        @media (min-width: @screen-md-max) {
            margin-top: 6rem;
        }
    }

    &__right {
        .make-xs-column(12);
        .make-md-column(6);

        @media (max-width: @screen-md-max) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    &__right-items {
        .make-row();
    }

    &__right-item {
        .make-xs-column(4);
        padding-top: 15px;
    }

    &__right-item-link {
    }

    &__right-item-img {
    }

    &__heading {

        @media (max-width: @screen-md-max) {
            font-size: 1rem;
        }
    }

    &__heading-upper {
    }

    &__heading-lower {
    }

    &__btn-wrapper {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }

    &__btn {
        background-color: #e6a756;
        border-color: #e6a756;
        font-weight: 700;
        font-size: .8rem;
        padding: 1.5rem 2rem 1.5rem 2rem;

        &:hover {
            border-color: #df1661;
            background: #df1661;
        }
    }
}

/*
	//galery-page
*/
.galery-page {
    .make-row();
    padding-bottom: 50px;

    &__inner {
        .make-xs-column(12);
    }

    &__items {
        .make-row();
    }

    &__item {
        .make-xs-column(6);
        .make-sm-column(4);
        .make-md-column(2);
        padding-bottom: 15px;
    }

    &__item-link {
    }

    &__item-img {
    }
}

/*
	//product-desc
*/
/*
.product-desc {
    .make-row();
    background: @gray-light;
    margin: 50px 0 !important;

    &__left {
        .make-xs-column(6);
        padding: 0 !important;
    }

    &__right {
        .make-xs-column(6);
        padding: 20px !important;
    }

    &__title {
        font-family: Courier New;
        font-size: 1.25rem;
        border-bottom: 1px dotted @red;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    &__text {
        font-family: Courier New;
        font-size: 1rem;
    }
}
*/

/*
	pagination
*/
.pagination-wrapper {
    .make-xs-column(12);
    padding: 25px 0;
}

.pagination {
    justify-content: center;
}

/*
	//blog
*/
.blog {
    .make-row();

    &__left {
        .make-xs-column(12);
        .make-sm-column(3);
    }

    &__right {
        .make-xs-column(12);
        .make-sm-column(9);
    }

    &__hit {
        padding-bottom: 25px;
    }

    &__hit-item {
        border-bottom: 1px solid @gray;
        padding: 5px;

        &:first-child {
            border: none;
        }
    }

    &__hit-title {
        font-size: 1.2rem;
        color: #b1308c;
        padding-left: 16px;

        &:before {
            font-family: 'icomoon';
            content: '\e935';
            margin-right: 5px;
            font-size: 0.8rem;
        }
    }

    &__hit-link {
        padding-left: 20px;

        &:link,
        &:visited {
            color: #666;
        }

        &.active,
        &:hover {
            color: #b1308c;
        }

        &:before {
            font-family: 'icomoon';
            content: '\ea1c';
            margin-right: 5px;
            font-size: 0.5rem;
        }
    }

    &__item {
        .make-row();
        .lh-border-radius(6px);
        margin-bottom: 20px;
        border: 1px solid @gray;
        padding: 10px 0;
    }

    &__img-wrapper {
        .make-xs-column(3);
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__title {
        font-size: 1.2rem;
        color: #666;
    }

    &__desc {
        .make-xs-column(9);
    }
}

/*
	//footer
*/
.footer {
    background-color: #28222b;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*
	//footer-about
*/
.footer-about {
    .make-row();
    .lh-background-image(linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%));
    //.lh-background-image(linear-gradient(to bottom,#7f7a7a 7%,#28222b 93%));
    margin: 0 !important;
    //height: 300px;
    &__left {
        .make-xs-column(6);
        border-right: 1px dotted white;
        padding: 50px;
    }

    &__right {
        .make-xs-column(6);
        padding: 50px;
    }

    &__title {
        font-size: 1.25rem;
        text-align: center;
        color: white;

        &:before {
            font-family: 'icomoon';
            content: '\e946';
            vertical-align: top;
            padding-right: 10px;
        }
    }

    &__text {
        font-size: 0.75rem;
        text-align: center;
        color: white;
    }
    /*&__more-wrap {
        .make-xs-column(12);
        text-align: center;
    }

    &__more-link {

        &:link,
        &:visited {
            color: white;
            text-align: center;
            font-size: 1rem;
            padding: 22px 0;
            display: inline-block;
        }

        &:hover {
            font-size: 1.1rem;
        }

        &:after {
            color: white;
            content: "\ea3c";
            font-family: 'icomoon';
            vertical-align: top;
            padding-left: 20px;
        }
    }*/
}

.social {
    .make-xs-column(12);
    text-align: center;

    &__items {
        margin: 22px 0 0 0;
    }

    &__item {
        display: inline-block;
        padding-left: 10px;
    }

    &__link {

        &:before {
            font-family: 'icomoon';
            color: white;
            font-size: 1rem;
        }

        &--facebook {
            &:before {
                content: '\ea90';
            }
        }

        &--twitter {
            &:before {
                content: '\ea96';
            }
        }

        &--intagram {
            &:before {
                content: '\ea92';
            }
        }

        &--google {
            &:before {
                content: '\ea8b';
            }
        }
    }
}

/*
	//send-message
*/
.send-message {

	&__textarea {
		resize:none;
	}

    .form-group {
        font-size: 14px;
        position: relative;
        margin-bottom: 0;
        padding-bottom: .5em;
        border-bottom: 1px solid #b0bfce;

        label {
            .lh-opacity(0);
        }

        .help-block {
            margin: 15px 0;
            color: #dc3545;
        }
    }

    .form-control {
        .lh-border-radius(0);
        font-family: @font-lora;
        font-size: 1.5em;
        position: relative;
        z-index: 1;
        padding: 0;
        resize: none;
        border: none;
        background: 0 0;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;

        &:hover,
        &:focus {
            background: none;
        }

        &::placeholder {
            font-family: @font-lora;
            color: #868e96;
        }
    }

    .btn {
        font-family: @font-open-sans;
        font-size: 14px;
        font-weight: 800;
        padding: 15px 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 0;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #0085a1;
        border-color: #0085a1;

        &:hover,
        &:active,
        &:focus {
            background-color: #0085a1 !important;
            border-color: #0085a1 !important;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
        }
    }
}
/*
	btn-filter
*/
.btn-filter {
    color: #999;
    background: none;
    border-color: #b9adad;
    font-weight: bold;
    font-size: 0.85rem;
    cursor: pointer;
    padding: .375rem 2rem;

    &:active,
    &:focus,
    &:hover {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        background: none !important;
        border-color: #b9adad !important;
        color: #b9adad !important;
    }
}

/*
	//about
*/
.about-heading {
    .make-row();
    padding-bottom: 50px;

    &__inner {
        .make-xs-column(12);
    }

    &__content {
        @media (min-width: @screen-md-min) {
            margin-top: -5rem;
            position: relative;
            z-index: 1;
        }
    }
}
/*
	//product-detail
*/
.product-detail {
    .make-row();

    &__inner {
        .make-xs-column(12);
    }

    &__row {
        .make-row();
        /*
		display: flex;
		align-items: center;
		justify-content: center;
            */
        margin-bottom: 3rem;
        background: #fff;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    &__left {
        .make-xs-column(12);
        .make-md-column(6);
        padding-left: 3rem;
        padding-right: 3rem;
        text-align: center;
    }

    &__img-link {
        width: 100%;

        @media (min-width: @screen-md-min) {
            min-height: 587px;
            line-height: 587px;
        }
    }

    &__img {

        @media (min-width: @screen-md-min) {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            max-height: 90%;
        }
    }

    &__thumbnail {
    }

    &__thumbnail-items {
        .make-row();
    }

    &__thumbnail-item {
        .make-xs-column(6);
        .make-md-column(3);
    }

    &__thumbnail-link {
        display: inline-block;
        width: 100%;
        min-height: 115px;
        position: relative;

        @media (min-width: @screen-md-max) {
        }
    }

    &__thumbnail-img {
        .lh-border-radius(4px);
        border: 1px solid #9a4677;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-height: 90%;

        @media (min-width: @screen-md-max) {
        }
    }

    &__right {
        .make-xs-column(12);
        .make-md-column(6);
        text-align: left;
    }

    &__name {
    }

    &__description {
        margin-bottom: 3rem;
        margin-top: 1.5rem;
        font-size: 1.25rem;
    }

    &__info {
        .make-row();
    }

    &__info-left {
        .make-xs-column(12);
        .make-md-column(6);
        margin-bottom: 1.5rem;
    }

    &__info-right {
        .make-xs-column(12);
        .make-md-column(6);
        margin-bottom: 1.5rem;
    }

    &__info-title {
        margin-bottom: 1rem;
    }
}
/*
    bootsrap update
*/
.section-heading {
	font-size: 2rem;
}

.navbar {
    position: absolute;
}

.nav-link {

    &:link,
    &:visited,
    &:hover {
        color: white !important;
    }
}

.bg-faded {
    background: rgba(255,255,255,.85);
}

/*
	//card
*/
/*
.card {

	&:before {
		.lh-border-radius(.5rem);
		content: '';
		position: absolute;
		top: -.5rem;
		bottom: -.5rem;
		left: -.5rem;
		right: -.5rem;
		border: .25rem solid rgba(255,255,255,.85);
	}

}
*/
/*
	//carousel
*/
.carousel-caption {
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }

    span, p {
        color: #fff;
    }
}

.carousel-indicators {
    li {
        cursor: pointer;
    }
}

.carousel-control-prev,
.carousel-control-next {

    &:link,
    &:visited,
    &:hover {
        .lh-transition(all 0.2s ease-in-out 0s);
        width: 70px;
        height: 70px;
        top: 50%;
        margin-top: -35px;
        line-height: 70px;
        border-radius: 50%;
        color: inherit;
        background: #9a4677;
        border: 0;
        text-shadow: none;
        z-index: 5;
        color: #fff;
    }

    @media (max-width: @screen-md-max) {
        display: none;
    }
}

.carousel-control-next {

    &:link,
    &:visited,
    &:hover {
        right: 0;
        margin-right: 2.5rem;
    }
}

.carousel-control-prev {

    &:link,
    &:visited,
    &:hover {
        left: 0;
        margin-left: 2.5rem;
    }
}
/*
	//breadcrumb
*/
.breadcrumb {
    background: none;
}

.breadcrumb-item {
    a:link,
    a:visited,
    a:hover {
        color: #868e96;
    }
	
	/*
    &.active {
        font-weight: bold;
    }
	*/
}
/*
	//dropdown
*/
.dropdown-menu {
    background-color: #fff;
    top: 90%;
    right: -10px !important;

    &:before {
        border-bottom: 11px solid #F1EAE0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        right: 12px;
        top: -11px;

        @media (max-width: @screen-md-min) {
            display: none;
        }
    }
}

.dropdown-item {
    &:link,
    &:visited {
        color: color-base;
    }

    &:hover {
        background-color: #d6abc1;
    }
}

.dropdown--filter {
    text-align: right;
}

.dropdown-menu--filter {
    background: #fff;
    border: 1px solid #b9adad;
    min-width: unset;
    right: auto !important;

    &:before {
        display: none;
    }
}

.dropdown-item--filter:link,
.dropdown-item--filter:visited {
    color: #666;
    font-size: 0.85rem;
    padding: .15rem 0.65rem;
}

.dropdown-item--filter:hover {
    background: none;
}
/*
	//pagination
*/
.page-item {

    &.active {
        .page-link {
            background-color: #df1661;
            border-color: #df1661;
        }
    }

    .page-link {
        &:focus,
        &:hover {
            background-color: #df1661;
            border-color: #df1661;
            color: #fff;
        }
    }
}

/*
	//lightbox-link
*/
.lightbox-link {
	display: inline-block;
	position: relative;
	border: .25rem solid rgba(255,255,255,.6);
	z-index: 1;
	
	&:before {
		//display: none;
        opacity: 0;
		font-family: 'icomoon';
		content: '\e987';
		text-align: center;
		font-size: 2rem;
		color: #fff;
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.7);
	}
	
	&:hover {

		&:before {
            .lh-transition(opacity 0.3s ease-in);
			opacity: 1;
            //display: block;
		}
		
	}
}