//Bootsrap Variables
@grid-columns: 12;
@grid-gutter-width: 30px;
@grid-float-breakpoint: 250px;
@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

//Font Variables
@font-lora: Lora,'Times New Roman',serif;
@font-open-sans : 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
@font-size-base: 16px;
@color-base: #666;

//Color
@gray: #ccc;
@gray-light: #f2f2f2;
@red: #8F1111;
@green: #83D468;
@green-soft: #b9e6aa;
@green-light: #EDF2F0;
