﻿@model WebCompany.UI.Models.SiteModel

@{
    ViewBag.Title = "Document";
}


                <div class="span12">
                    @using (Html.BeginForm("Save", "Document", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                    <fieldset>

                        @if (Model == null || Model?.DocumentModel?.Id == null)
                        {
                            <div class="controls">@Html.HiddenFor(m => m.DocumentModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })</div>
                        }
                        else
                        {
                            <div class="controls">@Html.HiddenFor(m => m.DocumentModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly" })</div>
                        }


                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.DocumentModel.Title)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.DocumentModel.Title, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>
                        </div>

                         
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.DocumentModel.Rows)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.DocumentModel.Rows, new { @type = "number" }) </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.DocumentModel.Path)</label>
                            <div class="controls">
                                <input type="file" name="files" id="files_0" />
                                @Html.HiddenFor(m => m.DocumentModel.Path)
                            </div>
                            <br />
                            <div class="controls"></div>
                        </div>


                        @Html.HiddenFor(m => m.DocumentModel.ContentId)
                        @Html.HiddenFor(m => m.DocumentModel.LanguageId)
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.DocumentModel.Actived)</label>
                            <div class="controls">@Html.CheckBox("DocumentModel.Actived") </div>
                        </div>
                      
                        


                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                            <button type="reset" class="btn">Vazgeç</button>
                        </div>
                    </fieldset>
                    }

                </div>
