﻿@model WebCompany.UI.Models.SiteModel
@{
    ViewBag.Title = "Video Ekle";
}
<div class="span9" id="content">
    <div class="row-fluid">

        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Video Ekle</div>
            </div>
            <div class="block-content collapse in">
                @Html.Partial("_CreateOrEdit", Model);
            </div>
        </div>
    </div>

</div>
