﻿@model WebCompany.UI.Models.SiteModel

@{
    ViewBag.Title = "İçerikler";
}


                    @using (Html.BeginForm("Save", "Slider", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        if (Model != null && Model?.SliderModel != null)
                        {
                    <fieldset>
                       
                            
                            @if (Model == null || Model.SliderModel.Id == null)
                            {
                                <div class="controls">@Html.HiddenFor(m => m.SliderModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })</div>
                            }
                            else
                            {
                                <div class="controls">@Html.HiddenFor(m => m.SliderModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly" })</div>
                            }
                     
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Fotoğraf boyutu</label>
                            <div class="controls" style="font-weight:bolder;">En az @WebCompany.Core.UrlExtensions.SliderImageWidth.Split(',').LastOrDefault() px genişlik</div>
                        </div>
                        <span></span>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SliderModel.Name)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.SliderModel.Name, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SliderModel.Url)</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.SliderModel.Url, new { @class = "input-xlarge focused", @placeholder = "Url..." })
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SliderModel.Title)</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.SliderModel.Title, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SliderModel.ShortDetail)</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.SliderModel.ShortDetail, new { @class = "input-xlarge focused", @placeholder = "Detay..." })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SliderModel.Rows)</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.SliderModel.Rows, new { @class = "input-xlarge focused",@type="number", @placeholder = "Sıra..." })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SliderModel.Image)</label>

                            <div class="controls">
                                <input type="file" name="file" id="file" />
                                @Html.HiddenFor(m => m.SliderModel.Image)
                                @Html.HiddenFor(m => m.SliderModel.LanguageId)
                                @Html.HiddenFor(m => m.SliderModel.ContentId)
                            </div>
                            <br />
                            <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.SliderViewPath, "mobile", Model.SliderModel.Image)" width="110px" height="52px" /></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.SliderModel.Actived)</label>
                            <div class="controls">@Html.CheckBox("SliderModel.Actived") </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                            <button type="reset" class="btn">Vazgeç</button>
                        </div>
                    </fieldset>
                            }
                        }

               