﻿@model WebCompany.UI.Models.MenuCreateViewModel

@{
                /**/

                ViewBag.Title = "Menü Ekle";
}


@using (Html.BeginForm("Save", "Menu", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal" }))
{
    @Html.ValidationSummary()
    <fieldset>
        <div class="control-group">
             
            @if (Model == null || Model.Menu.Id == null)
            {
                @Html.HiddenFor(m => m.Menu.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" }) 
            }
            else
            {
                @Html.HiddenFor(m => m.Menu.Id, new { @class = "input-xlarge focused", @readonly = "readonly" }) 
            }
      
        @*<div class="control-group">
            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Menu.Name)</label>*@
            <div class="controls">@Html.HiddenFor(m => m.Menu.Name, new { @class = "input-xlarge focused", @placeholder = "Menü Adı..." ,@value=""})  </div>
        @*</div>*@




        <div class="control-group">
            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Menu.Rows)</label>
            <div class="controls">@Html.TextBoxFor(m => m.Menu.Rows, new { @class = "input-xlarge focused" , @type = "number", @placeholder = "Sıra..." })  </div>
        </div>
        @Html.HiddenFor(m => m.Menu.MenuTop) 

        <div class="control-group">
            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Urls)</label>
            <div class="controls">
                <select name="Menu.UrlId" id="Menu.UrlId">
                    
                    @foreach (var url in Model.Urls)
                    {
                        <option value="@url.Id">@url.Title</option>
                    }

                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.Menu.Actived)</label>
            <div class="controls">@Html.CheckBox("Menu.Actived") </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Kaydet</button>
            <button type="reset" class="btn">Vazgeç</button>
        </div>
        <div class="alert-info"><span>İletişim</span>sayfası için url:iletisim, Blog sayfası için url:blog yazmanız yeterli</div>
    </fieldset>
}

