﻿@model WebCompany.UI.Models.MenuCreateViewModel
@{
    ViewBag.Title = "Menü ekle";
}

<div class="span9" id="content">
    <div class="row-fluid">

        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Menü Ekle</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    @Html.Partial("_CreateOrEdit", Model);
                </div>
            </div>
        </div>
    </div>

</div>
