﻿@model  WebCompany.UI.Models.MenuViewModel

@{
    ViewBag.Title = "Menü Ekle";
}



<style>
    .validation-summary-errors {
        background-color: #D9FFB2;
        border: 1px solid #5CBA30;
        width: 400px;
    }
</style>


<div class="span9" id="content">

    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Menu Listesi</div>
            </div>
            <a href="@WebCompany.Core.UrlService.AdminGetUrl("Menu/Create/0")"><button class="btn btn-success">Menü Ekle<i class="icon-plus icon-white"></i></button></a>
            <div class="block-content collapse in">
                <div class="span12"> 
                    <ul id="menu">
                        <div>
                            <p>Menü Listesi</p>
                            <ul class="tree">
                                @Html.Raw(ViewBag.Tree) 
                            </ul>
                        </div> 
                    </ul>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
<style>
    .tree,
    .tree ul {
        margin: 0 0 0 1em; /* indentation */
        padding: 0;
        list-style: none;
        color: #369;
        position: relative;
    }

        .tree ul {
            margin-left: .5em;
        }
            /* (indentation/2) */

            .tree:before,
            .tree ul:before {
                content: "";
                display: block;
                width: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                border-left: 1px solid;
            }

        .tree li {
            margin: 0;
            padding: 0 1.5em; /* indentation + .5em */
            line-height: 2em; /* default list item's `line-height` */
            font-weight: bold;
            position: relative;
        }

            .tree li:before {
                content: "";
                display: block;
                width: 10px; /* same with indentation */
                height: 0;
                border-top: 1px solid;
                margin-top: -1px; /* border top width */
                position: absolute;
                top: 1em; /* (line-height/2) */
                left: 0;
            }

            .tree li:last-child:before {
                background: white; /* same with body background */
                height: auto;
                top: 1em; /* (line-height/2) */
                bottom: 0;
            }
</style>