﻿@model WebCompany.UI.Models.SiteModel

@{
    /**/

    ViewBag.Title = "Menu Url";
}


@using (Html.BeginForm("Save", "Urls", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    <fieldset>

        @if (Model == null || Model?.UrlsModel?.Id == null)
        {
            <div class="controls">@Html.HiddenFor(m => m.UrlsModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })</div>
        }
        else
        {
            <div class="controls">@Html.HiddenFor(m => m.UrlsModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly" })</div>
        }


        <div class="control-group">
            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.UrlsModel.Title)</label>
            <div class="controls">@Html.TextBoxFor(m => m.UrlsModel.Title, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.UrlsModel.Url)</label>
            @if (Model.UrlsModel.Type)
            {
                <div class="controls">@Html.TextBoxFor(m => m.UrlsModel.Url, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>

            }
            else
            {
                <div class="controls">@Html.TextBoxFor(m => m.UrlsModel.Url, new { @class = "input-xlarge focused", @readoyly = "true", @placeholder = "Başlık..." })  </div>

            }
        </div>

        @Html.HiddenFor(f => f.UrlsModel.LanguageId)
        @Html.HiddenFor(f => f.UrlsModel.ContentId)
        <div class="control-group">
            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.UrlsModel.Actived)</label>
            <div class="controls">@Html.CheckBox("UrlsModel.Actived") </div>
        </div>



        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Kaydet</button>
            <button type="reset" class="btn">Vazgeç</button>
        </div>
    </fieldset>
}

               