﻿@model  WebCompany.UI.Models.SiteModel

@{
    ViewBag.Title = "Menü Url Listesi";
} 

<style>
    .validation-summary-errors {
        background-color: #D9FFB2;
        border: 1px solid #5CBA30;
        width: 400px;
    }
</style> 
<div class="span9" id="content">

    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Url Listesi</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="table-toolbar">
                        <div class="btn-group">
                            <a href="@WebCompany.Core.UrlService.AdminGetUrl("Urls/Create")">
                                <button class="btn btn-success">Url Ekle  <i class="icon-plus icon-white"></i></button>
                            </a>
                        </div> 
                    </div> 
                    @if (TempData["Message"] != null)
                     {<div class="@Html.Raw(Convert.ToBoolean(TempData["Result"])==true? "alert alert-success":"alert alert-error")">
                        <button class="close" data-dismiss="alert">×</button>
                        <strong>@Html.Raw(Convert.ToBoolean(TempData["Result"]) == true ? "Success!" : "Error!")</strong>@TempData["Message"]
                    </div>}
                  
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
                        <thead>
                            <tr>
                                <th>Başlık</th>
                                <th>Url</th> 
                                <th>Durum</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Item in Model.UrlsModelList.Where(f=> f.LanguageId==1).OrderBy(x=> x.Id))
                            {
                                <tr class="odd gradeX">
                                    <td>@Item.Title</td> 
                                    <td>@Item.Url</td>
                                    <td>@Html.Raw(Item.Actived == true ? "<span class='label label-success'>Onayli</span>" : "<span class='label label-important'>Onaysız</span>")</td>
                                    <td class="center" style="width:75px;">
                                        @if(Item.Type)
                                        { 
                                        <a href="@WebCompany.Core.UrlService.AdminGetUrl("urls/delete/"+@Item.Id)" class="btn btn-danger btn-mini">Sil</a>
                                        <a href="@WebCompany.Core.UrlService.AdminGetUrl("urls/edit/"+@Item.ContentId)" class="btn btn-success btn-mini">Düzelt</a>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
