﻿@model WebCompany.UI.Models.SiteModel

@{
    ViewBag.Title = "Galeri ";
}


                    @using (Html.BeginForm("Save", "Gallery", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
<fieldset>
    <div class="control-group">

        @if (Model == null || Model?.GalleryModel?.Id == null)
        {
            <div class="controls">@Html.HiddenFor(m => m.GalleryModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })</div>
        }
        else
        {
            <div class="controls">@Html.HiddenFor(m => m.GalleryModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly" })</div>
        }
    </div>

    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryModel.Title)</label>
        <div class="controls">@Html.TextBoxFor(m => m.GalleryModel.Title, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryModel.Path)</label>

        <div class="controls">
            <input type="file" name="photo" id="photo" />
            @Html.HiddenFor(m => m.GalleryModel.Path)
        </div>
        <br />
        <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.GalleryViewPath,"mobile",Model.GalleryModel.Path)" width="110px" height="52px" /></div>
    </div>
    @Html.HiddenFor(d => d.GalleryModel.LanguageId)
    @Html.HiddenFor(d => d.GalleryModel.ContentId)
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryModel.Rows)</label>
        <div class="controls">@Html.TextBoxFor(m => m.GalleryModel.Rows, new { @class = "input-xlarge focused", @type = "number" , @placeholder = "Sıra" })  </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryModel.Actived)</label>
        <div class="controls">@Html.CheckBox("GalleryModel.Actived") </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryModel.IsHomePage)</label>
        <div class="controls">@Html.CheckBox("GalleryModel.IsHomePage") </div>
    </div>
    <h3>Seo</h3>
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryModel.MetaTitle)</label>
        <div class="controls">@Html.TextBoxFor(m => m.GalleryModel.MetaTitle, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Başlık..." })  </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryModel.MetaDescription)</label>
        <div class="controls">@Html.TextBoxFor(m => m.GalleryModel.MetaDescription, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Detay..." })  </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryModel.MetaKeywords)</label>
        <div class="controls">@Html.TextBoxFor(m => m.GalleryModel.MetaKeywords, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Anahtar Kelimeler, araba, araç..." })  </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <button type="reset" class="btn">Vazgeç</button>
    </div>
</fieldset>
                    }
 