﻿@model  WebCompany.UI.Areas.Admin.GalleryImageViewModel



<div class="span9" id="content">
    <div class="row-fluid">

        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Galeri Fotoğraf Ekle</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <center>
                        <div>
                            <h3>@Model.Title</h3>
                            <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.GalleryViewPath,"mobile",Model.Path)" height="400px" /></div>
                        </div>
                    </center>
                    @using (Html.BeginForm("SaveImage", "Gallery", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        <fieldset>


                            @if (Model != null && Model?.GalleryImageModel?.Id == 0)
                            {
                                @Html.Hidden("GalleryImageModel.Id", 0, new { @class = "hidden" })

                            }
                            else
                            {
                                @Html.Hidden("GalleryImageModel.Id", Model.GalleryImageModel.Id, new { @class = "hidden" })

                            }
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryImageModel.Title)</label>
                                <div class="controls">@Html.TextBox("Title", Model.GalleryImageModel.Title, new { @id = "Title", @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryImageModel.Path)</label>

                                <div class="controls">
                                    @Html.TextBox("File", Model.GalleryImageModel.File, new { type = "file" })
                                    @Html.Hidden("Path", Model.GalleryImageModel.Path)
                                    @Html.Hidden("GalleryId", Model.GalleryId)
                                </div>
                                <br />
                                @if (Model.GalleryImageModel.Path!=null)
                                {
                                    <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.GalleryViewPath,"mobile",Model.GalleryImageModel.Path)" width="110px" height="52px" /></div>
                                }
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryImageModel.Rows)</label>
                                <div class="controls">@Html.TextBox("Rows", Model.GalleryImageModel.Rows, new { @type = "number",@class = "input-xlarge focused", @placeholder = "Sıra" })  </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.GalleryImageModel.Actived)</label>
                                <div class="controls">@Html.CheckBox("Actived") </div>
                            </div>


                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                                <button type="reset" class="btn">Vazgeç</button>
                            </div>
                        </fieldset>
                    }
                    <center>
                        <div class="card-columns">
                            @foreach (var item in Model.GalleryImageListModel)
                            {
                                <div class="card" style="width: 18rem;float:left;">
                                    <img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.GalleryViewPath,"mobile",item.Path)" class="card-img-top" alt="@item.Title">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Title</h5>

                                        <a href="#" class="btn btn-primary">Düzelt</a>
                                        <a href="#" class="btn btn-primary">Sil</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>

</div>
