﻿@model  WebCompany.UI.Models.SiteModel

@{
    ViewBag.Title = "Galeri";
} 

<style>
    .validation-summary-errors {
        background-color: #D9FFB2;
        border: 1px solid #5CBA30;
        width: 400px;
    }
</style> 
<div class="span9" id="content">

    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Gallery Listesi</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="table-toolbar">
                        <div class="btn-group">
                            <a href="@WebCompany.Core.UrlService.AdminGetUrl("Gallery/Create")">
                                <button class="btn btn-success">Galleri Ekle  <i class="icon-plus icon-white"></i></button>
                            </a>
                        </div> 
                    </div> 
                    @if (TempData["Message"] != null)
                     {<div class="@Html.Raw(Convert.ToBoolean(TempData["Result"])==true? "alert alert-success":"alert alert-error")">
                        <button class="close" data-dismiss="alert">×</button>
                        <strong>@Html.Raw(Convert.ToBoolean(TempData["Result"]) == true ? "Success!" : "Error!")</strong>@TempData["Message"]
                    </div>}
                    @*<div style="float:left;width:900px">
                        @foreach (var item in Model.GalleryModelList)
                        {
                            <div style=" width:200px;float:left;height:200px;padding:3px;">
                                <span style="text-align:center;font-size:large;">@item.Title</span>
                                <img src="@WebCompany.Core.UrlService.ImagePathHomeView("g",item.Path)" alt="@item.Title" width="200px" />
                                <span>
                                    <a href="@WebCompany.Core.UrlService.AdminGetUrl("Gallery/delete/"+item.Id)" class="btn btn-danger btn-mini">Sil</a>
                                    <a href="@WebCompany.Core.UrlService.AdminGetUrl("Gallery/edit/"+item.Id)" class="btn btn-success btn-mini">Düzelt</a>
                                </span>
                            </div>
                        }
                    </div>*@ 
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
                        <thead>
                            <tr>
                                <th>Sıra</th>
                                <th>Fotoğraf</th>
                                <th>Başlık</th>
                                <th>AnaSayfa</th>
                                <th>Durum</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Item in Model.GalleryModelList.Where(f=> f.LanguageId == 1).OrderBy(x=>  x.Rows))
                            {
                                <tr class="odd gradeX">
                                    <td>@Item.Rows</td>
                                    <td><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.GalleryViewPath,"mobile",Item.Path)" width="110px" height="52px" /></td>
                                    <td>@Item.Title</td>
                                    <td>@Html.Raw(Item.IsHomePage == true ? "<span class='label label-success'>Anasayfa</span>" :  "")</td>
                                    <td>@Html.Raw(Item.Actived == true ? "<span class='label label-success'>Onayli</span>" : "<span class='label label-important'>Onaysız</span>")</td>
                                    <td class="center" style="width:75px;">
                                        <a href="@WebCompany.Core.UrlService.AdminGetUrl("Gallery/delete/"+@Item.Id)" class="btn btn-danger btn-mini">Sil</a>
                                        <a href="@WebCompany.Core.UrlService.AdminGetUrl("Gallery/edit/"+@Item.ContentId)" class="btn btn-success btn-mini">Düzelt</a>
                                        <a href="@WebCompany.Core.UrlService.AdminGetUrl("Gallery/GalleryImageAdd/"+@Item.Id)" class="btn btn-warning btn-mini">Galeri Foto Ekle</a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
