﻿@model WebCompany.Business.Models.CategoryIndexViewModel 
@{
 
}
@section metatags
    {
    @Html.Partial("~/Views/Shared/Partials/MetaTitle.cshtml", Model)
}
<div class="container">
    <h1 class="main-title">Kategoriler</h1>
    <div class="row">
        <ol class="breadcrumb col-xs-12 col-md-6">
            <li class="breadcrumb-item">
                <a href="@WebCompany.Core.UrlExtensions.SiteUrl">Anasayfa</a>
            </li>
        </ol> 
    </div>
    <div class="products">
        <div class="products__left">
          
        </div>
        <div class="products__right">
            <div class="row">
                @foreach (var category in Model.CategoryListModel)
                {
                    <div class="col-lg-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <a href="/@category.Url">
                                 @category.Name
                            </a> 
                        </div>
                    </div>
                } 
                <!-- /.pagination -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>