﻿@model WebCompany.UI.Models.SiteModel
@{
    var url = $"/{Model.CategoryListModel.FirstOrDefault().Name }/{Model.Page}";
    }
    @section metatags
    {
        @Html.Partial("~/Views/Shared/Partials/MetaTitle.cshtml", Model)
}
<div class="container">
    <h1 class="main-title">ÜRÜNLERİMİZ</h1>
    <div class="row">
        <ol class="breadcrumb col-xs-12 col-md-6">
            <li class="breadcrumb-item">
                <a href="@WebCompany.Core.UrlExtensions.SiteUrl">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active"><span><strong>@(Model?.ProductListModel?.FirstOrDefault()?.ProductCategory?.Name)</strong></span></li>
        </ol>
        <div class="dropdown dropdown--filter col-xs-12 col-md-6">
            <button type="button" class="btn btn-primary btn-filter dropdown-toggle" data-toggle="dropdown">
                Filtrele
            </button>
            <div class="dropdown-menu dropdown-menu--filter">
                <a href="@url?q=u" class="dropdown-item dropdown-item--filter">Ucuzdan Pahalıya</a>
                <a href="@url?q=p" class="dropdown-item dropdown-item--filter">Pahalıdan Ucuza</a>
                <a href="@url?q=a" class="dropdown-item dropdown-item--filter">A-Z</a>
                <a href="@url?q=z" class="dropdown-item dropdown-item--filter">Z-A</a>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="products__left">
            <ul class="products__hit">
                <li class="products__hit-item"><h2 class="products__hit-title"><strong>Kategoriler</strong></h2></li>
                @foreach (var category in Model.CategoryListModel)
                {
                    <li class="products__hit-item"><h3><a href="@($"{WebCompany.Core.UrlExtensions.SiteUrl}/{category.Name}")" class="products__hit-link"><strong>@category.Name</strong></a></h3></li>
                }
              
            </ul>
        </div>
        <div class="products__right">
            <div class="row">
                @foreach (var product in Model.ProductListModel)
                {
                    <div class="col-lg-4 col-sm-6 portfolio-item">
                        <div   style="border:2px solid #FA5858;">
                            <a href="/@product.Name">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                     data-src="/content/img/u/desktop/@product.Image"
                                     class="card-img-top lazyload"
                                     alt="" />
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/@product.Name">@product.Name</a>
                                </h4>
                                <p class="card-text">@product.ShortDetail</p>
                            </div>
                        </div>
                    </div>
                }
   
 
                <div class="pagination-wrapper">
                    <ul class="pagination pagination-sm">
                            @if(Model?.Page-1!=0)
                            { 
                            <li class="page-item @(Model.Page==1?"disabled":"")"><a class="page-link" href="@($"/{Model.CategoryListModel.FirstOrDefault().Name}/{Model?.Page-1}")">Geri</a></li>
                            }
                            @for (int i = 1; i <= Model.Pages; i++)
                            {
                                <li class="page-item @(Model.Page==i?"active":"")"><a class="page-link" href="/@Model.CategoryListModel.FirstOrDefault().Name/@i">@i</a></li>
                            } 
                            <li class="page-item @(Model.Pages==Model.Page?"disabled":"")"><a class="page-link" href="@($"/{Model.CategoryListModel.FirstOrDefault().Name}/{Model?.Page+1}")">İleri</a></li>
                    </ul>
                </div>
                <!-- /.pagination -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>