﻿@model WebCompany.UI.Models.SiteModel
@{
    var product = Model?.ProductModel;
}
@section metatags
{
    @Html.Partial("~/Views/Shared/Partials/MetaTitle.cshtml", Model)
}
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="main-title">@(product.Name)</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@WebCompany.Core.UrlExtensions.SiteUrl">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active"><span><strong>@(product.Name)</strong></span></li>
    </ol>
    <!-- Intro Content -->
    <div class="product-detail">
        <div class="product-detail__inner">
            <div class="product-detail__row">
                <div class="product-detail__left">
                    <a href="/content/img/u/desktop/@(product.Image)"
                       class="product-detail__img-link lightbox-link"
                       data-toggle="lightbox"
                       data-gallery="lightbox-img-galery"
                       title="">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-src="/content/img/u/desktop/@(product.Image)"
                             class="product-detail__img lazyload img-fluid"
                             alt="@product.Name" />
                    </a>
                    <div class="product-detail__thumbnail">
                       
                            <ul class="product-detail__thumbnail-items">
                               @if (product.Image != null)
                               {
                                 <li class="product-detail__thumbnail-item">
                                    <a href="javascript:;"
                                       class="product-detail__thumbnail-link js-product-detail-thumbnail-link"
                                       data-img-zoom="/content/img/u/desktop/@(product.Image)"
                                       data-img="/content/img/u/desktop/@(product.Image)"
                                       title="">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                             data-src="/content/img/u/desktop/@(product.Image)"
                                             class="product-detail__thumbnail-img lazyload img-fluid"
                                             alt="@product.Name" />
                                    </a>
                                </li>
                                }
                                @if (product.Image2 != null)
                                {
                                    <li class="product-detail__thumbnail-item">
                                        <a href="javascript:;"
                                           class="product-detail__thumbnail-link js-product-detail-thumbnail-link"
                                           data-img-zoom="/content/img/u/desktop/@(product.Image2)"
                                           data-img="/content/img/u/mobile/@(product.Image2)"
                                           title="">
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 data-src="/content/img/u/desktop/@(product.Image2)"
                                                 class="product-detail__thumbnail-img lazyload img-fluid"
                                                 alt="@product.Name" />
                                        </a>
                                    </li>
                                }
                                @if (product.Image3 != null)
                                {
                                    <li class="product-detail__thumbnail-item">
                                        <a href="javascript:;"
                                           class="product-detail__thumbnail-link js-product-detail-thumbnail-link"
                                           data-img-zoom="/content/img/u/desktop/@(product.Image3)"
                                           data-img="/content/img/u/mobile/@(product.Image3)"
                                           title="">
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 data-src="/content/img/u/desktop/@(product.Image3)"
                                                 class="product-detail__thumbnail-img lazyload img-fluid"
                                                 alt="@product.Name" />
                                        </a>
                                    </li>
                                }
                                @if (product.Image4 != null)
                                {

                                    <li class="product-detail__thumbnail-item">
                                        <a href="javascript:;"
                                           class="product-detail__thumbnail-link js-product-detail-thumbnail-link"
                                           data-img-zoom="/content/img/u/desktop/@(product.Image4)"
                                           data-img="/content/img/u/mobile/@(product.Image4)"
                                           title="">
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 data-src="/content/img/u/desktop/@(product.Image4)"
                                                 class="product-detail__thumbnail-img lazyload img-fluid"
                                                 alt="@product.Name" />
                                        </a>
                                    </li>       
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="product-detail__right">
                        <h2 class="product-detail__name">
                            @(product?.Name)
                        </h2>
                        <p class="product-detail__description">
                            <table>
                                <tr>
                                    <td>Fiyat</td>
                                    <td>@(product?.Price) TL</td>
                                </tr>
                                <tr>
                                    <td>Satış Fiyat</td>
                                    <td>@(product?.SalesPrice) TL</td>
                                </tr>
                                <tr>
                                    <td>İndirim Oranı:</td>
                                    <td> % @(product?.Rate)</td>
                                </tr>
                                <tr><td colspan="2"><hr /></td></tr>
                            </table>
                        </p>
                        <p class="product-detail__description">
                            @Html.Raw(product?.Detail)
                        </p>
                        @*<div class="product-detail__info">
                                <div class="product-detail__info-left">
                                    <h3 class="product-detail__info-title">Clean Design</h3>
                                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                                <div class="product-detail__info-right">
                                    <h3 class="product-detail__info-title">Bootstrap 4</h3>
                                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->
    </div>
