﻿@model WebCompany.UI.Models.SiteModel

@{
    ViewBag.Title = "Blog";
}


                <div class="span12">
                    @using (Html.BeginForm("Save", "Blog", FormMethod.Post, new { id = "frmSite", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                    <fieldset>

                        @if (Model == null || Model?.BlogModel?.Id == null)
                        {
                            <div class="controls">@Html.HiddenFor(m => m.BlogModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly", Value = "0" })</div>
                        }
                        else
                        {
                            <div class="controls">@Html.HiddenFor(m => m.BlogModel.Id, new { @class = "input-xlarge focused", @readonly = "readonly" })</div>
                        }


                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.BlogModel.Title)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.BlogModel.Title, new { @class = "input-xlarge focused", @placeholder = "Başlık..." })  </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.BlogModel.ShortDetail)</label>
                            <div class="controls">@Html.TextAreaFor(m => m.BlogModel.ShortDetail, new { @id = "ckeditor_full", @style = "width: 810px; height: 200px", @placeholder = "Kısa açıklama..." })  </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.BlogModel.Detail)</label>
                            <div class="controls">@Html.TextAreaFor(m => m.BlogModel.Detail, new { @id = "ckeditor_full", @style = "width: 810px; height: 200px", @placeholder = "Detay..." })  </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.BlogModel.Rows)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.BlogModel.Rows, new { @type = "number" }) </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.BlogModel.Path)</label>
                            <div class="controls">
                                <input type="file" name="photo" id="files_0" />
                                @Html.HiddenFor(m => m.BlogModel.Path)
                            </div>
                            <br />
                            <div class="controls"><img src="@WebCompany.Core.UrlService.ImagePathHomeView(WebCompany.Core.UrlExtensions.BlogViewPath,"mobile",Model.BlogModel.Path)" width="110px" height="52px" /></div>
                        </div>


                        @Html.HiddenFor(m => m.BlogModel.ContentId)
                        @Html.HiddenFor(m => m.BlogModel.LanguageId)
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.BlogModel.Actived)</label>
                            <div class="controls">@Html.CheckBox("BlogModel.Actived") </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.BlogModel.IsHomePage)</label>
                            <div class="controls">@Html.CheckBox("BlogModel.IsHomePage") </div>
                        </div>
                        <h3>Seo giriş</h3>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.BlogModel.MetaTitle)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.BlogModel.MetaTitle, new { @class = "input-xlarge focused", @maxlength = "512",  @placeholder = "Seo Başlık..." })  </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.BlogModel.MetaDescription)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.BlogModel.MetaDescription, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Seo Açıklama..." })  </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">@Html.LabelFor(m => m.BlogModel.MetaKeywords)</label>
                            <div class="controls">@Html.TextBoxFor(m => m.BlogModel.MetaKeywords, new { @class = "input-xlarge focused", @maxlength = "512", @placeholder = "Anahtar Kelime, araba, araç, buran..." })  </div>
                        </div>



                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                            <button type="reset" class="btn">Vazgeç</button>
                        </div>
                    </fieldset>
                    }

                </div>
